@model IEnumerable<Opain.Jarvis.Dominio.Entidades.PasajeroTransitoOtd>

@{
    ViewData["Title"] = "Tránsitos y Conexiones";
}

<div id="divMsg"></div>
<h1>Tránsitos y Conexiones</h1>

@*<!-- Nav tabs -->*@
<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item airplane__button">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
            Pasajeros de llegada
            <img src="~/images/avion-tab.png" class="airplane__tab" alt="Llegada" />
            <span class="arrow-tab"></span>
        </a>
    </li>
    <li>
        <img src="~/images/mundo-tab.png" alt="" />
    </li>
    <li class="nav-item airplane__button">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
            <img src="~/images/avion-tab.png" class="airplane__tab" alt="Salida" />
            Pasajeros de salida
            <span class="arrow-tab"></span>
        </a>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        @*<!---Content Table----->*@
        <form asp-action="Firmar" method="post" id="formularioFirmar">
            <div class="bg--white">
                @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            A continuación se muestra la información de los pasajeros que fueron entregados a otras aerolíneas. Para finalizar el proceso seleccione los correspondientes pasajeros y de clic en "Firmar y guardar".
                        </div>
                    </div>
                    <hr />

                    <fieldset>
                        <legend>Seleccione el reporte a generar: </legend>
                        <p id="output"></p>

                        @{
                            if (ViewBag.Download != null && ViewBag.Download!="NA")
                            {
                                string TypeFile = ViewBag.extension; // "pdf"; 
                                string URLGet = "/Download?pdfyexcel=" + TypeFile + "&filename=" + ViewBag.Download;
                                //string URLGet = "~/Download?pdfyexcel=" + TypeFile+ "&filename=" + ViewBag.Download;
                                //string URLGet = "https://52.45.221.179/Download?pdfyexcel=" + TypeFile + "&filename=" + ViewBag.Download;
                                if (TypeFile != ".pdf")
                                {
                                    //URLGet = "https://52.45.221.179/Download?pdfyexcel=" + TypeFile + "&filename=" + ViewBag.Download;
                                    //URLGet = "~/Download?pdfyexcel=" + TypeFile + "&filename=" + ViewBag.Download;
                                    URLGet = "/Download?pdfyexcel=" + TypeFile + "&filename=" + ViewBag.Download;
                                    //TypeFile = "excel";
                                }
                                <script>
                                    var TypeFile = '@TypeFile';
                                    var URLPE = '@URLGet';
                                    URLPE = URLPE.replace('&amp;', '&');
                                    function UnMomento() {
                                        window.location.href = URLPE;                                        
                                    }
                                    setTimeout(UnMomento, 5000);
                                </script>
                            }
                        }                       

                        <div>
                            @*<img src="~/images/pdf.png" alt="Descargar PDF" />
                            <input type="radio" id="pdf" name="pdfyexcel" value="pdf" checked>
                            <label for="pdf">PDF</label>*@

                            <img src="~/images/xls.png" alt="Descargar Excel" />
                            <input type="radio" id="excel" name="pdfyexcel" value="excel" checked>
                            <label for="excel">Excel</label>
                        </div>
                        <div id="results"></div>
                    </fieldset>
                    <hr />
                }
                <div class="table-responsive-lg">
                    @await Component.InvokeAsync("Entregados", new { transitos = Model, lstAerolineas = ViewData["Aerolineas"] })
                </div>

            </div>
            @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
            {
                <button type="button" class="btn btn--default btn-block mt-3 mb-5" style="display:none" id="btnconfirmaFirma" data-toggle="modal" data-target=".advertencia">Firmar y guardar</button>
                <button type="button" class="btn btn--default btn-block mt-3 mb-5" style="display:none" id="btnconfirmaFirma2" data-toggle="modal" data-target=".Rechazados">v</button>
                <button type="button" id="btnGuardarFirmar" class="btn btn--default btn-block mt-3 mb-5"> Firmar y guardar</button>

            }

        </form>
    </div>

    <div class="tab-pane fade mb-5" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="bg--white">
            @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
            {
                <div class="d-flex">
                    <div class="flex-grow-1 pt-2 pb-2">
                        A continuación se muestra la información de los pasajeros que fueron recibidos por las aerolíneas
                    </div>
                </div>
                <hr />
            }

            <div class="table-responsive-lg">
                @await Component.InvokeAsync("Recibidos", new { transitos = Model })
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
{
    <!--Modal advertencia-->
    <div class="modal fade advertencia" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-right:0px!important; padding-right:0px!important">
        <div class="modal-dialog modal--full">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/images/advertencia.png" class="img-fluid" alt="Advertencia" />
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-sm-6 offset-sm-3">
                            <p>
                                ¿Esta seguro(a) que desea firmar y guardar?
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2">
                                <button type="button" id="btnFirmar" class="btn btn--default btn-block">Aceptar</button>
                            </div>
                            @*<div class="col-sm-6 offset-sm-2">
                                    <button type="button" id="btnCerrar" class="btn btn--default btn-block" data-dismiss="modal">Cerrar</button>
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Model validarechazo-->
    <div class="modal fade Rechazados" id="modalMensajerec" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-right:0px!important; padding-right:0px!important">
        <div class="modal-dialog modal--full">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/images/advertencia.png" class="img-fluid" alt="Advertencia" />
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-sm-6 offset-sm-3">
                            <p>
                                Escribir una observaci&oacute;n para el rechazo de los tr&aacute;nsitos
                                <input type="text" style="width:200px; height:50px;" name="txtObservacion" id="txtObservacion" value="" />
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2">
                                <button type="button" id="btnFirmar22" class="btn btn--default btn-block">Aceptar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal acciones-->
    <div class="modal bd-example-modal-lg" id="accionesTransito">
        <div class="modal-dialog modal--big">

            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">
                            <button type="button" class="btn btn-block" data-dismiss="modal">
                                <img src="~/images/cerra.png" alt="Cerrar" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="divMensaje"></div>
                    <div class="container" id="divAcciones"></div>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade advertencia guardadoCorrecto" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal--full">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="col-sm-6 offset-sm-3 mt-4">
                        <p>
                            Sus cambios han sido
                            <br />
                            guardados correctamente
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <button type="button" class="btn btn--default btn-block" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
        {
    <script type="text/javascript">

        $('#Firmar input[type=radio]').change(function () {
            //alert(this.value);
        });

    </script>




}
