@model Opain.Jarvis.Dominio.Entidades.RespuestaTicketOtd

    <form asp-action="InsertarMensaje" asp-controller="Tickets" asp-area="Contactenos" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="IdTicket" />
        <div class="card card-body card__modal">
            <strong>Responder</strong>
            <p>Descripción del mensaje</p>
            <textarea class="editor" asp-for="Mensaje"></textarea>
        </div>
        <div class="text-right">
            <div class="d-inline-block">
                <div class="choose-file btn--border p-2">
                    <input type="file" name="mensajeAdjunto" id="mensajeAdjunto" class="inputfile inputfile-2" accept="image/png, image/jpeg,application/pdf"/>
                    <label for="mensajeAdjunto" class="flex-grow-1 table-button__upload">
                        <img src="~/images/adjuntar.png" alt="Adjuntar archivo" class="img-fluid mr-2 ml-2"> <span>Adjuntar archivo</span>
                    </label>
                    <div class="invalid-tooltip">
                        El archivo no es valido o no tiene el formato correcto
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn--border">
                <img src="~/images/enviar.png" alt="Enviar" class="img-fluid mr-2 ml-2"> Enviar
            </button>
        </div>
        <hr />
    </form>

