@model Opain.Jarvis.Dominio.Entidades.TicketOtd

    <div class="bg--white mb-5">
        <div class="row">
            <div class="col-sm-2">
                Tipo de consulta
            </div>
            <div class="col-sm-8">
                <div class="form-inline text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="VuelosMsj" name="insTicket" value="1" checked>
                        <label class="custom-control-label" for="VuelosMsj">Vuelos</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="CobrosMsj" name="insTicket" value="2">
                        <label class="custom-control-label" for="CobrosMsj">Cobros</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="AnexosMsj" name="insTicket" value="3">
                        <label class="custom-control-label" for="AnexosMsj">Anexos</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="FacturaMsj" name="insTicket" value="4">
                        <label class="custom-control-label" for="FacturaMsj">Factura</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="PQRMsj" name="insTicket" value="5">
                        <label class="custom-control-label" for="PQRMsj">PQR</label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <form asp-action="Insertar" asp-controller="Tickets" asp-area="Contactenos" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="TipoConsulta" value="1" />
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Asunto">Número de vuelo</label>
                        <input type="text" class="form-control" asp-for="Asunto" placeholder="Número de vuelo" required="required">
                        <div class="invalid-tooltip">
                            Por favor escriba el número de vuelo
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="FechaVuelo">Fecha de vuelo</label>
                        <input type="date" class="form-control fechas" asp-for="FechaVuelo" placeholder="Fecha" required />
                        <div class="invalid-tooltip">
                            Por favor escriba una fecha valida
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label asp-for="Mensaje">Mensaje</label>
                        <textarea asp-for="Mensaje" class="editor form-control" aria-describedby="inputGroupPrepend" required></textarea>
                        <div class="invalid-tooltip">
                            Por favor escriba su mensaje
                        </div>
                    </div>
                    <div class="form-group col-sm-12 text-right">
                        <div class="d-inline-block">
                            <div class="choose-file btn--border p-2">
                                <input type="file" name="adjunto" id="adjunto" class="inputfile inputfile-2" accept=".jpg, .jpeg, .png, .gif, .pdf, .doc, .docx, .xls, .xlsx, .zip, .rar, .7z, .txt" onchange="return validateFileType(event);" multiple>
                                <label for="adjunto" class="flex-grow-1 table-button__upload">
                                    <img src="/images/adjuntar.png" alt="Adjuntar archivo" class="img-fluid mr-2 ml-2"> <span>Adjuntar archivo</span>
                                </label>
                                <div class="invalid-tooltip">
                                    El archivo no es valido o no tiene el formato correcto
                                </div>
                            </div>
                            <br />
                            <div id="archivosSeleccionados"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" id="any_button" class="btn btn--default btn-block mt-3 mb-2" data-toggle="modal" data-target=".enviar">
                    Enviar
                </button>
            </form>
        </div>
    </div>


    <script>
    const inputArchivos = document.getElementById('adjunto');
    const archivosSeleccionadosDiv = document.getElementById('archivosSeleccionados');

    inputArchivos.addEventListener('change', function () {
        archivosSeleccionadosDiv.innerHTML = '';
        for (let i = 0; i < inputArchivos.files.length; i++) {

            var nombreArchivo = inputArchivos.files[i].name; // Nombre del archivo
            var extensionArchivo = nombreArchivo.split('.').pop().toLowerCase(); // Obtén la extensión del archivo
            var iconoArchivo = getIconoExtension(extensionArchivo); // Función para obtener el icono correspondiente a la extensión

            var archivoElemento = document.createElement('p');
            debugger;
            archivoElemento.innerHTML = `<img src="${iconoArchivo}"></img> ${nombreArchivo}`; // Agrega el icono y el nombre del archivo y la extensión

            archivosSeleccionadosDiv.appendChild(archivoElemento);
        }
    });

    function getIconoExtension(extension) {
        // Mapeo de extensiones a rutas de imagen
        var iconos = {
            pdf: '/images/pdf.png',
            doc: '/images/doc-icon.png',
            docx: '/images/doc-icon.png',
            xls: '/images/xls.png',
            xlsx: '/images/xls.png',
            png: '/images/png-icon.png',
            jpg: '/images/jpg-icon.png',
            jpeg: '/images/jpg-icon.png',
            txt: '/images/txt-icon.png',
            zip: '/images/zip-icon.png',
            rar: '/images/zip-icon.png',
            // Agrega más extensiones y sus rutas de imagen correspondientes según tus necesidades
        };

        // Retorna la ruta de imagen correspondiente a la extensión o una ruta de imagen genérica de archivo si no se encuentra la extensión
        return iconos[extension] || '/images/adjuntar.png';
        }

        

        function validateFileType(event) {
            const files = event.target.files;
            const allowedExtensions = [".jpg", ".jpeg", ".png", ".gif", ".pdf", ".doc", ".docx", ".xls", ".xlsx", ".zip", ".rar", ".7z", ".txt"];
            const invalidTooltip = document.querySelector(".invalid-tooltip");

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const fileName = file.name;
                const fileExtension = fileName.substring(fileName.lastIndexOf("."));

                if (!allowedExtensions.includes(fileExtension.toLowerCase())) {
                    event.target.value = ""; // Limpiar el campo de archivos seleccionados
                    invalidTooltip.innerHTML = "El archivo no es válido o no tiene el formato correcto No se permiten archivos con extensión .exe. Por favor, seleccione otro archivo.";
                    invalidTooltip.style.display = "block";
                    return false;
                }
            }

            invalidTooltip.style.display = "none"; // Ocultar el mensaje de error si no hay errores
            return true;
        }

    </script>