
@{
    ViewData["Title"] = "TransitosConexiones";
}

<h1>Transitos y Conexiónes</h1>

@*<!-- Nav tabs -->*@
<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item airplane__button">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
            Pasajeros de llegada
            <img src="~/images/avion-tab.png" class="airplane__tab" alt="Llegada" />
            <span class="arrow-tab"></span>
        </a>
    </li>
    <li>
        <img src="~/images/mundo-tab.png" alt="" />
    </li>
    <li class="nav-item airplane__button">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
            <img src="~/images/avion-tab.png" class="airplane__tab" alt="Salida" />
            Pasajeros de salida
            <span class="arrow-tab"></span>
        </a>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        @*<!---Content Table----->*@
        <div class="bg--white">
            <div class="row">
                <div class="col-sm-12">
                    A continuación se muestra la información de los pasajeros que fueron entregados a otras aerolíneas. Para finalizar el proceso seleccione los correspondientes pasajeros y clic en firmar y guardar.
                </div>
            </div>
            <hr />
            <div class="row mt-4">
                <div class="col-sm-12 text-right">
                    Buscar <input type="text" placeholder="Buscar en la tabla" class="ml-3" />
                </div>
            </div>
            <table class="mt-4 mb-3 col-sm-12" cellspacing="0" width="100%" cellpadding="0">
                <thead>
                    <tr>
                        <td style="width:110px">
                            Fecha
                            del vuelo
                        </td>
                        <td style="width:110px">
                            Número de
                            vuelo de llegada
                        </td>
                        <td style="width:74px">
                            Hora de
                            llegada
                        </td>
                        <td style="width: 100px;">
                            Aerolínea
                            de salida
                        </td>
                        <td style="width: 80px;">
                            Nombre del pasajero
                        </td>
                        <td style="width: 100px;">
                            Documento
                            del pasajero
                        </td>
                        <td style="width:100px">
                            Hora de
                            carga
                        </td>
                        <td style="width:124px">
                            Tiempo restante
                            para aprobar
                        </td>
                        <td style="width:148px">
                            Aprobar todos <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                            <label for="styled-checkbox-1"></label>
                        </td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            31 Oct 2019
                        </td>
                        <td>
                            AV123
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            LATAM
                        </td>
                        <td>
                            Pepito Pérez
                        </td>
                        <td>
                            45789456
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            <div class="tooltip__time">
                                00:04
                            </div>
                            <div class="tooltip">
                                <img src="~/images/alerta.png" alt="Queda poco tiempo" />
                                <span class="tooltiptext">Queda poco tiempo para aprobar</span>
                            </div>
                        </td>
                        <td>
                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                            <label for="styled-checkbox-2"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            31 Oct 2019
                        </td>
                        <td>
                            AV123
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            LATAM
                        </td>
                        <td>
                            Pepito Pérez
                        </td>
                        <td>
                            45789456
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            <div class="tooltip__time">
                                00:04
                            </div>
                            <div class="tooltip">
                                <img src="~/images/alerta.png" alt="Queda poco tiempo" />
                                <span class="tooltiptext">Queda poco tiempo para aprobar</span>
                            </div>
                        </td>
                        <td>
                            <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1">
                            <label for="styled-checkbox-3"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            31 Oct 2019
                        </td>
                        <td>
                            AV123
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            LATAM
                        </td>
                        <td>
                            Pepito Pérez
                        </td>
                        <td>
                            45789456
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            <div class="tooltip__time">
                                00:04
                            </div>
                        </td>
                        <td>
                            <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1">
                            <label for="styled-checkbox-3"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="color-gray col-sm-6 mt-2">
                    <strong>Página 1 de 4</strong>
                </div>
                <div class="col-sm-6">
                    <div aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link no-border" href="#" tabindex="-1">Anterior</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link no-border" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn--default btn-block mt-3 mb-5" data-toggle="modal" data-target=".advertencia">Firmar y guardar</button>
    </div>


    <div class="tab-pane fade mb-5" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="bg--white">
            <div class="d-flex">
                <div class="flex-grow-1 pt-2 pb-2">
                    A continuación se muestra la información de los pasajeros que fueron recibidos por las aerolíneas
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 text-right">
                    Buscar <input type="text" placeholder="Buscar en la tabla" class="ml-3" />
                </div>
            </div>
            <table class="mt-4 mb-3 col-sm-12" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <td style="width: 107px;">
                            Aerolínea
                            de origen
                        </td>
                        <td style="width: 107px">
                            Ciudad
                            de origen
                        </td>
                        <td style="width: 107px;">
                            Número de
                            vuelo de origen
                        </td>
                        <td style="width:107px;">
                            Número de
                            vuelo de destino
                        </td>
                        <td style="width:107px">
                            Destino
                        </td>
                        <td style="width:107px">
                            Nombre
                            del pasajero
                        </td>
                        <td style="width:107px">
                            Documento
                            del pasajero
                        </td>
                        <td style="width:100px">
                            Hora de
                            carga
                        </td>
                        <td style="width:114px">
                            Tiempo
                            restante
                        </td>
                        <td style="width:107px">
                            Estado
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            LATAM
                        </td>
                        <td>
                            Bogotá
                        </td>
                        <td>
                            AV123
                        </td>
                        <td>
                            AV789
                        </td>
                        <td>
                            Barranquilla
                        </td>
                        <td>
                            Pepito Pérez
                        </td>
                        <td>
                            45789456
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            <div class="tooltip__time">
                                12:00
                            </div>
                        </td>
                        <td>
                            <img src="~/images/ok.png" alt="Finalizado" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LATAM
                        </td>
                        <td>
                            Bogotá
                        </td>
                        <td>
                            AV123
                        </td>
                        <td>
                            AV789
                        </td>
                        <td>
                            Barranquilla
                        </td>
                        <td>
                            Pepito Pérez
                        </td>
                        <td>
                            45789456
                        </td>
                        <td>
                            14:00
                        </td>
                        <td>
                            <div class="tooltip__time">
                                12:00
                            </div>
                            <div class="tooltip">
                                <img src="~/images/alerta.png" alt="Queda poco tiempo" />
                                <span class="tooltiptext">Queda poco tiempo</span>
                            </div>
                        </td>
                        <td>
                            <img src="~/images/nulo.png" alt="Pendiente" />
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="row">
                <div class="color-gray col-sm-6">
                    <strong>Página 1 de 4</strong>
                </div>
                <div class="col-sm-6">
                    <div aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link no-border" href="#" tabindex="-1">Anterior</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link no-border" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal advertencia-->
<div class="modal fade advertencia" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-right:0px!important; padding-right:0px!important">
    <div class="modal-dialog modal--full">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/advertencia.png" class="img-fluid" />
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-sm-6 offset-sm-3">
                        <p>
                            Sus datos han sido guardados correctamente
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            <button type="button" class="btn btn--default btn-block" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>