@model Opain.Jarvis.Dominio.Entidades.UsuarioOtd

<h1>Crear usuario </h1>
<div class="row">
    <div class="col-sm-12">
        <p>Por favor digite los siguientes campos</p>
    </div>
</div>
<hr />
<form id="formInsert" asp-action="Insertar">
    <div asp-validation-summary="All" class="tool__valide"></div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="Nombre">Nombre</label>
            <input class="form-control" asp-for="Nombre" placeholder="Nombre" id="Nombre" />
            <span asp-validation-for="Nombre" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Apellido">Apellido</label>
            <input class="form-control" asp-for="Apellido" placeholder="Apellido" id="Apellido" />
            <span asp-validation-for="Apellido" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="TipoDocumento">Tipo de identificación</label>
            <select asp-for="TipoDocumento" class="form-control">
                <option value="">Seleccione una opción</option>
                <option value="CC">Cédula de ciudadanía</option>
                <option value="CE">Cédula de extranjería</option>
                <option value="NIT">NIT</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
            <span asp-validation-for="TipoDocumento" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="NumeroDocumento">Número de identificación</label>
            <input class="form-control" asp-for="NumeroDocumento" placeholder="Número de identificación" />
            <span asp-validation-for="NumeroDocumento" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Email">Correo electrónico</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Correo electrónico" id="email" />
            <span asp-validation-for="Email" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Telefono">Teléfono</label>
            <input type="number" class="form-control" asp-for="Telefono" placeholder="Teléfono" />
            <span asp-validation-for="Telefono" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Cargo">Cargo</label>
            <input class="form-control" asp-for="Cargo" placeholder="Cargo" />
            <span asp-validation-for="Cargo" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Perfil">Perfil</label>
            <select asp-for="Perfil" asp-items="@((List<SelectListItem>)ViewData["Perfiles"])" class="form-control"></select>
            <span asp-validation-for="Perfil" class="tool__valide"></span>
        </div>
        <div class="form-group col-sm-6" id="divAerolinea">
            <label asp-for="Aerolinea">Aerolínea</label>
            <select asp-for="Aerolinea" asp-items="@((List<SelectListItem>)ViewData["Aerolineas"])" class="form-control"></select>
            

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn--default--grey btn-block" data-dismiss="modal">Cancelar</button>
        </div>
        <div class="col-sm-6">
            <button type="button" id="bntInsert" class="btn btn--default btn-block">Crear usuario</button>
        </div>
    </div>

    <input type="button" id="btnmostrarerror" style="visibility:hidden" data-toggle="modal" data-target="#exampleErroneo" value=" ">
    <div class="modal advertencia" tabindex="-1" role="dialog" id="exampleErroneo" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-right:0px!important; padding-right:0px!important">
        <div class="modal-dialog modal--full">
            <div class="modal-content" id="myModal">
                <div class="modal-body">
                    <div class="container">
                        <div class="col-sm-6 offset-sm-3 mt-4">
                            <p>
                                <img src="~/images/advertencia-bien.png" alt="Advertencia Ok" />
                            </p>

                            <p>
                                El email ingresado ya existe, por favor digite otro
                            </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 offset-sm-3">
                                <button type="button" class="btn btn--default btn-block" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<script>
    $(function() {
    // Handler for .ready() called.
        perfilAerolinea();
    });

    $("#Perfil").change(function () {
       perfilAerolinea();
    });

    $("#Nombre").keypress(function (key) {
            window.console.log(key.charCode)
            if ((key.charCode < 97 || key.charCode > 122)//letras mayusculas
                && (key.charCode < 65 || key.charCode > 90) //letras minusculas
                && (key.charCode != 45) //retroceso
                && (key.charCode != 241) //ñ
                 && (key.charCode != 209) //Ñ
                 && (key.charCode != 32) //espacio
                 && (key.charCode != 225) //á
                 && (key.charCode != 233) //é
                 && (key.charCode != 237) //í
                 && (key.charCode != 243) //ó
                 && (key.charCode != 250) //ú
                 && (key.charCode != 193) //Á
                 && (key.charCode != 201) //É
                 && (key.charCode != 205) //Í
                 && (key.charCode != 211) //Ó
                 && (key.charCode != 218) //Ú

                )
                return false;
    });

       $("#Apellido").keypress(function (key) {
            window.console.log(key.charCode)
            if ((key.charCode < 97 || key.charCode > 122)//letras mayusculas
                && (key.charCode < 65 || key.charCode > 90) //letras minusculas
                && (key.charCode != 45) //retroceso
                && (key.charCode != 241) //ñ
                 && (key.charCode != 209) //Ñ
                 && (key.charCode != 32) //espacio
                 && (key.charCode != 225) //á
                 && (key.charCode != 233) //é
                 && (key.charCode != 237) //í
                 && (key.charCode != 243) //ó
                 && (key.charCode != 250) //ú
                 && (key.charCode != 193) //Á
                 && (key.charCode != 201) //É
                 && (key.charCode != 205) //Í
                 && (key.charCode != 211) //Ó
                 && (key.charCode != 218) //Ú

                )
                return false;
        });

    function perfilAerolinea() {

       var perfil = $("#Perfil").val();

       if (perfil === "OPAIN" || perfil === "ADMINISTRADOR" || perfil === "EXTERNO" || perfil === "TECNOLOGIA") {
            $("#divAerolinea").hide();
            $("#Aerolinea").val("");
       }
        else
       {
            $("#Aerolinea option[value='AVIANCA']").attr("selected", "selected");
            $("#divAerolinea").show();

       }
    }

    $("#bntInsert").on("click", function () {

        var email = $("#email").val();

        $.ajax({
            type: 'GET',
            url: "/Consulta/Consulta/emailExiste?email=" + email,
            success: function (data) {
                if (data) {
                    alert('el email ingresado ya existe, por favor digite otro');
                } else {
                    $("#email-error").hide();
                    $("#formInsert").submit();
                }
            },
            error: function (data) {
                console.log('Ha surgido un error al guardar los datos.');
            }
        })
    });

    $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Please check your input."
    );

$("#formInsert").validate({
	rules: {
		Nombre: {
			required: true
		},
		Apellido: {
			required: true
		},
		TipoDocumento: {
			required: true
            },
        NumeroDocumento: {
            required: true,
            regex: "^[a-zA-Z0-9'.\\s]{1,40}$"
            },
        Email: {
			required: true
            },
         Telefono: {
             required: true
            },
          Cargo: {
			required: true
		}
	},
	messages: {
		Nombre: {
			required: "El campo Nombre es obligatorio."
        },
        Apellido: {
			required: "El campo Apellido es obligatorio."
        },
        TipoDocumento: {
			required: "El campo Tipo de documento es obligatorio."
        },
        NumeroDocumento: {
            required: "El campo Documento de identidad es obligatorio.",
            regex: "No puede contener caracteres especiales"
        },
        Email: {
			required: "El campo Correo electrónico es obligatorio."
        },
        Telefono: {
			required: "El campo Telefono es obligatorio."
        },
        Cargo: {
			required: "El campo Cargo es obligatorio."
		}
	},
	highlight: function(element, errorClass) {
		$(element).closest(".form-group").addClass("has-error");
	},
	unhighlight: function(element, errorClass) {
		$(element).closest(".form-group").removeClass("has-error");
	},
	errorPlacement: function (error, element) {
		error.appendTo(element.parent().next());
	},
	errorPlacement: function (error, element) {
		if(element.attr("type") == "checkbox") {
			element.closest(".form-group").children(0).prepend(error);
		}
		else
			error.insertAfter(element);
	}

});
    @*<Inicio Elopez  10-01-2020 - bugs 887 & 886 - ajuste campo mail para mayusculas >*@

    function Mayuscula() {
        var textoM = $("#email").val();
        $("#email").val(textoM.toUpperCase()
        );
        @*<fIN Elopez  10-01-2020 - bugs 887 & 886 - ajuste campo mail para mayusculas >*@
    }
</script>

