@page
@model ForgotPasswordModel
@{
}
<div class="row">
    <div class="col-sm-4 offset-sm-4">
        <div class="row">
            <h1 class="col-sm-12">
                ¿Olvidó su contraseña?
            </h1>
        </div>
        <div class="login mt-3">
            <form method="post" id="formForgotPsw">
                
                <div class="form-group position-relative">
                    <p>Ingrese su correo electrónico y le estaremos enviando de vuelta su contraseña </p>
                    @*<label asp-for="Input.Email"></label>*@
                    <input asp-for="Input.Email" id="txtEmail" class="form-control email" />
                    <div asp-validation-summary="All" id="divVal" class="form-control"></div>                    
                </div>
                <div class="form-group">
                    <button onclick="javascript:history.back(-1);" class="btn btn--default--grey" type="button">Cancelar</button>
                    <button type="button" class="btn btn--default btnEnviar">Enviar</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // Shorthand for $( document ).ready()
        $(function () {

            var texto = "El correo es invalido";
            $("#divVal").hide();

            $(".email").on("change", function () {
                var email = $(".email").val();

                if (isEmail(email)) {
                    $(".validation-summary-valid").find("li").hide();                    
                } else {
                    if (email == "") {
                        cambiaContenido("Por favor, ingrese un correo para continuar");
                    } else {
                        $(".validation-summary-valid").find("li").hide();
                        $("#divVal").hide();
                    }                    
                }
            });
            $(document).keypress(function () {
                var email = $(".email").val();

                if (isEmail(email)) {
                    $(".validation-summary-valid").find("li").hide();
                    $("#divVal").hide();
                } else {
                    cambiaContenido(texto);                    
                }

            });
            $(document).keydown(function () {
                var email = $(".email").val();

                if (isEmail(email)) {
                    $(".validation-summary-valid").find("li").hide();
                    $("#divVal").hide();
                } else {
                    cambiaContenido(texto);                    
                }
            });
            $(document).keyup(function () {
                var email = $(".email").val();

                if (isEmail(email)) {
                    $(".validation-summary-valid").find("li").hide();   
                    $("#divVal").hide();
                } else {
                    cambiaContenido(texto);                    
                }
            });

            $(".btnEnviar").on("click", function () {
                var email = $(".email").val();                

                $(".email").change();

                if (email == "") {                                                            
                    cambiaContenido("Por favor, ingrese un correo para continuar");                    
                } else {                    
                    $(".validation-summary-valid").find("li").hide();
                    $("#divVal").hide();
                }                    

                if (isEmail(email)) {
                    $(".validation-summary-valid").find("li").hide();
                    $("#divVal").hide();
                    consultaEmailExiste(email);
                }
                    
            });

            function cambiaContenido(contenido) {                                
                $(".validation-summary-valid").find("li").text(contenido);
                $(".input-validation-error").find("li").text(contenido);
                $("#Input_Email-error").text(contenido);
                $(".validation-summary-valid").find("li").show(); 
                $("#divVal").show();
            }

            function consultaEmailExiste(correo) {

                $.ajax({
                    type: 'GET',
                    url: "/Consulta/Consulta/emailExiste?email=" + correo,
                    success: function (data) {
                        //$("#mensajeGuardado").empty();
                        //console.log("rptaConsultaEmail: " + data);
                        $(".email").change();
                        if (data) {
                            $(".validation-summary-valid").find("li").hide();
                            $("#formForgotPsw").submit();
                        }
                        else {                            
                            cambiaContenido("El email ingresado no existe");                            
                        }
                    },
                    error: function (data) {
                        //$("#mensajeGuardado").empty();
                        console.log('Ha surgido un error al guardar los datos.');
                    }
                })

            }

            function isEmail(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }

        });
    </script>
    @*<partial name="_ValidationScriptsPartial" />*@
}
