
@{
    ViewData["Title"] = "Consultas";
}

<h1>Consultas</h1>

<div class="bg--white">
    <img src="~/images/reloj.png" alt="" class="img-fluid mr-2" /> La último actualización de la información se realizo hace <strong>40 minutos</strong>
</div>

<div class="bg--white mb-5">
    A continuación, se muestra el resumen de los vuelos que han sido guardados en el sistema
    <hr />
    <div class="row mt-4">

        <div class="col-sm-6">
            <div class="float-left pt-2 mr-2 color-gray">
                Seleccione tipo de vuelo:
            </div>

            <div class="select--gray">
                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                <label for="styled-checkbox-1">Vuelos nacionales</label>
            </div>
            <div class="select--orange">
                <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                <label for="styled-checkbox-2">Vuelos internacionales</label>
            </div>
        </div>

        <div class="col-sm-6 text-right">
            Buscar <input type="text" placeholder="Buscar en la tabla" class="ml-3" />
        </div>
    </div>
    <table class="mt-4 col-sm-12 mb-3" cellspacing="5" cellpadding="0">
        <thead>
            <tr>
                <td style="width:133px">
                    Fecha
                </td>
                <td style="width:133px">
                    Cantidad de vuelos
                </td>
                <td style="width:133px">
                    Novedades
                    de cargue
                </td>
                <td style="width: 133px;">
                    Novedades del proceso
                </td>
                <td style="width: 133px;">
                    Exitoso
                </td>
                <td style="width: 133px;">
                    Procesados
                </td>
                <td style="width:133px">
                    Detalle del
                    vuelo
                </td>
                <td style="width:133px">
                    Finalizado
                </td>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    31 Oct 2019
                </td>
                <td>
                    120
                </td>
                <td>
                    20
                </td>
                <td>
                    20
                </td>
                <td>
                    120
                </td>
                <td>
                    120
                </td>
                <td>
                    <button class="btn btn--simple" data-toggle="modal" data-target=".detalle-vuelo">
                        <img src="~/images/buscar.png" alt="Detalles" />
                    </button>
                </td>
                <td>
                    <img src="~/images/ok.png" alt="Finalizado" />
                </td>

            </tr>
            <tr>
                <td>
                    31 Oct 2019
                </td>
                <td>
                    120
                </td>
                <td>
                    20
                </td>
                <td>
                    20
                </td>
                <td>
                    120
                </td>
                <td>
                    120
                </td>
                <td>
                    <button class="btn btn--simple" data-toggle="modal" data-target=".detalle-vuelo">
                        <img src="~/images/buscar.png" alt="Detalles" />
                    </button>
                </td>
                <td>
                    <img src="~/images/nulo.png" alt="Pendiente" />
                </td>

            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="color-gray col-sm-6 mt-2">
            <strong>Página 1 de 4</strong>
        </div>
        <div class="col-sm-6">
            <div aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link no-border" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link no-border" href="#">Siguiente</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!--Modal detalle del vuelo-->
<div class="modal fade detalle-vuelo" tabindex="-1" role="dialog" aria-labelledby="detalle-vuelo" aria-hidden="true" style="margin-right:0px!important; padding-right:0px!important">
    <div class="modal-dialog modal--big">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-block" data-dismiss="modal">
                            <img src="~/images/cerra.png" alt="Cerrar" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>
                        DETALLE DEL VUELO
                    </h1>
                    <div class="row">
                        <div class="col-sm-12">
                            A continuación se muestra la información en detalle de los vuelos
                            <hr />
                        </div>


                        <div class="col-sm-12 text-right">
                            Buscar <input type="text" placeholder="Buscar en la tabla" class="ml-3" />
                        </div>
                    </div>

                    <table class="mt-4 mb-3" cellspacing="5" cellpadding="0" width="100%">
                        <thead>
                            <tr>
                                <td style="width:123px;">
                                    Tipo de
                                    vuelo
                                </td>
                                <td style="width:123px">
                                    Número
                                    de vuelo
                                </td>
                                <td style="width:125px;">
                                    Fecha del
                                    vuelo
                                </td>
                                <td style="width:123px;">
                                    Hora del
                                    vuelo
                                </td>
                                <td style="width:123px">
                                    Número de
                                    matrícula
                                </td>
                                <td style="width:123px">
                                    Tasas
                                    reportadas
                                </td>
                                <td style="width:123px">
                                    Tasas
                                    cobradas
                                </td>
                                <td style="width:123px">
                                    Diferencia
                                    de tasas
                                </td>
                                <td style="width:123px">
                                    Detalle de la
                                    novedad
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    INT
                                </td>
                                <td>
                                    AVA2514
                                </td>
                                <td>31 Oct 2019</td>
                                <td>13:20</td>
                                <td>N459AV</td>
                                <td>150</td>
                                <td>200</td>
                                <td>50</td>
                                <td>
                                    <button class="btn btn--simple" data-toggle="modal" data-target=".detalle-novedad">
                                        <img src="~/images/buscar.png" alt="Detalles de la novedad" />
                                    </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    INT
                                </td>
                                <td>
                                    AVA2514
                                </td>
                                <td>31 Oct 2019</td>
                                <td>13:20</td>
                                <td>N459AV</td>
                                <td>150</td>
                                <td>200</td>
                                <td>50</td>
                                <td>
                                    <button class="btn btn--simple" data-toggle="modal" data-target=".detalle-novedad">
                                        <img src="~/images/buscar.png" alt="Detalles de la novedad" />
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="color-gray col-sm-6 mt-2">
                            <strong>Página 1 de 4</strong>
                        </div>
                        <div class="col-sm-6">
                            <div aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link no-border" href="#" tabindex="-1">Anterior</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link no-border" href="#">Siguiente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modal detalle de la novedad-->
<div class="modal fade detalle-novedad" tabindex="-1" role="dialog" aria-labelledby="detalle-novedad" aria-hidden="true" style="margin-right:0px!important; padding-right:0px!important">
    <div class="modal-dialog modal--big">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-block" data-dismiss="modal">
                            <img src="~/images/regresar.png" alt="Cerrar" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>
                        DETALLE DE LA NOVEDAD
                    </h1>
                    <hr />
                    <div class="row">
                        <div class="text-center line-vertical col-sm-6">
                            <img src="~/images/novedad-avion.png" alt="Número de vuelo" /> Número de vuelo: <strong>AVA2514</strong>
                        </div>
                        <div class="text-center col-sm-6">
                            <img src="~/images/novedad-calendario.png" alt="Fecha de vuelo" /> Fecha de vuelo: <strong>31 Oct 2019</strong>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            Buscar <input type="text" placeholder="Buscar en la tabla" class="ml-3" />
                        </div>
                    </div>

                    <table class="mt-4 mb-3" cellspacing="0" cellpadding="0" width="100%">
                        <thead>
                            <tr>
                                <td style="width: 188px;">
                                    Cantidad de tasas
                                </td>
                                <td style="width: 188px">
                                    Código
                                </td>
                                <td style="width: 734px;">
                                    Descripción
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    01
                                </td>
                                <td>
                                    AVA2514
                                </td>
                                <td class="text-left">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue. Proin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    01
                                </td>
                                <td>
                                    AVA2514
                                </td>
                                <td class="text-left">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue. Proin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    01
                                </td>
                                <td>
                                    AVA2514
                                </td>
                                <td class="text-left">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue. Proin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="color-gray col-sm-6 mt-2">
                            <strong>Página 1 de 4</strong>
                        </div>
                        <div class="col-sm-6">
                            <div aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link no-border" href="#" tabindex="-1">Anterior</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link no-border" href="#">Siguiente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>