@import '_varibles.scss';
@import '_mixins.scss';
@import '_fonts.scss';

.bg--gray {
    background: $bg-body;
    /**********
    HEADER
    *********/
    header {
        width: 100%;
        height: 72px;
        padding-top: 16px;
        border-bottom: 1px solid $menu-black-line;
        position: fixed;
        z-index: 6;
        top: 0;
        background: $black;
        /*background: $barra-superior;*/
        color: $white;

        a {
            color: $white;
        }

        .header__line {
            border-right: 1px solid $gray;
            display: inline-block;
            width: 1px;
            height: 20px;
            margin: 10px 15px;
            vertical-align: middle;
        }

        .logo {
            width: 240px;
            position: absolute;
            left: 0;
            top: -21px;
            height: 77px;
            padding: 20px;
            text-align: center;
            @include transition;

            &--bg {
                background: $menu-black;
                border-bottom: 1px solid $menu-black-line;
                /*@include box-shadow2;*/
            }
        }
    }
    /**********
    NAVIGATION
    *********/
    nav {
        background: $menu-black;
        color: $white;
        position: fixed;
        z-index: 1;
        width: 70px;
        height: 100%;
        top: 0;
        padding-top: 71px;
        overflow: hidden;
        @include transition;
        @include box-shadow;

        .btn--opacity {
            opacity: 0.5;
            cursor: not-allowed;

            &:hover {
                background: #4f4f4f;
                background: -moz-linear-gradient(left, #4f4f4f 0%, #545454 100%);
                background: -webkit-linear-gradient(left, #4f4f4f 0%, #545454 100%);
                background: linear-gradient(to right, #4f4f4f 0%, #545454 100%);
            }
        }

        &.menu__left {
            left: 0px;

            & a.active {
                background: $orange;
                color: $black;
            }

            &--open {
                width: 240px;
            }
        }

        ul {
            padding-left: 0px;
            width: 240px;

            li {
                list-style: none;

                a {
                    color: $white;
                    display: block;
                    padding: 10px;
                    @include transition;
                    border-bottom: 1px solid $menu-black-line;

                    &:hover {
                        @include gradient;
                        color: $black;
                    }

                    img {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .container__menu {
        &--margin {
            margin-left: 80px;
        }
        /* Push classes for body */
        &.menu__push {
            overflow: hidden;
            position: relative;
            left: 0;
            @include transition;
            min-height: 590px;

            &--right {
                left: 160px;
                @include transition;
            }
        }
    }
    /*****
    *****/
    .airplane__button {
        .airplane__tab {
            opacity: 0;
            @include transform(translate(-120px, 0px));
            @include transition;
        }

        &:hover .airplane__tab {
            @include transform (translate(0px, 0px));
            opacity: 10;
        }

        a.active .airplane__tab {
            @include transform (translate(0px, 0px));
            opacity: 10;
        }
    }

    .tooltip {
        position: relative;
        display: block;
        opacity: 10;
        z-index: 1;
        line-height: 0;

        &__time {
            display: inline-block;
            width: 44px;
            float: left;
            margin-left: 25%;
        }

        .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: $black;
            color: #fff;
            text-align: center;
            @include border-radius;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            line-height: 1.5;
        }

        &:hover .tooltiptext {
            visibility: visible;
        }
    }
    /**********
    CONTENT
    *********/
    main {
        .line-vertical {
            border-right: 1px solid $gray-line;
        }
        /*.pagination {
            margin-bottom: 0;

            .page-link {
                color: $gray-dark;
            }

            .page-link {
                border: 1px solid $gray;
                margin-right: 5px;

                &:focus {
                    background: $orange;
                    @include no-box-shadow;
                }
            }

            .no-border {
                border: 0 none transparent;
            }
        }*/
        .color-gray {
            color: $gray-dark;
        }

        .select--orange {
            background: $orange;
            padding: $inputs-padding;
            float: left;
            height: $inputs-height;
            @include border-radius;
        }

        .select--gray {
            background: $gray-light;
            padding: $inputs-padding;
            float: left;
            margin-left: 10px;
            margin-right: 10px;
            height: $inputs-height;
            @include border-radius;
        }

        .styled-checkbox {
            position: absolute; // take it out of document flow
            opacity: 0; // hide it
            & + label {
                position: relative;
                cursor: pointer;
                padding: 0;
                vertical-align: bottom;
            }
            // Box.
            & + label:before {
                content: '';
                margin-right: 15px;
                margin-left: 2px;
                display: inline-block;
                vertical-align: text-top;
                width: 18px;
                height: 18px;
                background: $gray-check;
                border: 1px solid $gray;
                @include border-radius;
            }
            // Box hover
            &:hover + label:before {
                background: $gray-check;
            }
            // Box focus
            &:focus + label:before {
                box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            }
            // Box checked
            &:checked + label:before {
                background: $orange;
            }
            // Disabled state label.
            &:disabled + label {
                color: #b8b8b8;
                cursor: auto;
            }
            // Disabled box.
            &:disabled + label:before {
                box-shadow: none;
                background: $gray;
            }
            // Checkmark. Could be replaced with an image
            &:checked + label:after {
                content: '';
                box-shadow: 2px 0 0 $black, 4px 0 0 $black, 4px -2px 0 $black, 4px -4px 0 $black, 4px -6px 0 $black, 4px -8px 0 $black;
                background: $orange;
            }

            & + label:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 6px;
                background: $gray-check;
                width: 2px;
                height: 2px;
                box-shadow: 0px 0 0 $black, 0px 0 0 $black, 0px 0px 0 $black, 0px 0px 0 $black, 0px 0px 0 $black, 0px 0px 0 $black;
                @include transform (rotate(45deg));
                @include transition;
            }
        }

        .input-group {
            background: transparent;
        }

        width: 100%;
        padding-top: 120px;

        input {
            padding: 10px;
        }

        h1 {
            border-left: 7px solid $orange;
            padding-left: 15px;
            margin-bottom: 50px;
            font-size: $font-size-title;
            font-weight: 700
        }

        table {
            text-align: center;

            .table-button__upload {
                max-width: 102px !important;
            }

            thead {
                background: $gray-dark;
                color: $white;

                tr {

                    td {
                        padding: 10px;
                        border-bottom: 7px solid $white;

                        &:nth-child(1) {
                            border-radius: 5px 0px 0px 0px;
                            border-bottom: 7px solid $white;
                        }

                        &:last-child {
                            border-radius: 0px 5px 0px 0;
                        }
                    }
                }
            }

            tbody {
                tr {
                    background: $gray-light;
                    @include border-radius;
                    @include transition;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &:hover {
                        background: $gray;
                    }

                    td {
                        padding: 10px;
                        border-bottom: 7px solid white;

                        input[type=text] {
                            background: $white;
                            max-width: 103px;
                            width: 90px;
                            text-align: center;
                        }

                        &:nth-child(1) {
                            border-radius: 5px 0 0 0px;
                        }

                        &:last-child {
                            border-radius: 0 5px 0px 0;
                        }
                    }
                }
            }

            .switch {
                margin-left: 0px;
            }
        }

        .table-button__upload {
            background: transparent !important;
            padding: 10px 0 !important;
            margin: 0 auto;


            img {
                /*margin-right: 10px;*/
            }
        }

        .bg--white {
            background: $white;
            padding: 20px;
            margin-top: 20px;
        }

        .upload__text {
            float: left;
            display: inline-block;
            width: 99px;
            margin-right: 10px;
        }

        .upload__number {
            background: $orange;
            @include border-radius;
            padding: 5px 10px 10px 10px;
            display: inline-block;
            font-size: $font-size-title;
            width: 45px;
            height: 45px;
            vertical-align: middle;
            line-height: normal;
        }
        /*******
        form    
        *******/
        .was-validated input.form-control:valid, input.form-control.is-valid {
            background: $gray-light none;
        }

        select.form-control:valid, select.form-control.is-valid {
            background: url(../images/flecha-select.png) no-repeat center right $gray-light;


            &:focus {
                background: url(../images/flecha-select.png) no-repeat center right $gray;
            }
        }

        .fechas {
            background-image: url(../images/novedad-calendario.png);
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) center;
        }
    }

    .upload__file {
        width: 470px
    }
    /***********
    TABS
    **********/
    main {
        .nav-tabs {
            border-bottom: 0 none transparent;
        }

        .nav-item {
            width: 414px;
            text-align: center;

            .nav-link {
                height: 65px;
                color: $gray-dark;
                font-size: $font-size-subtitle;
                font-weight: 700;
                padding-top: 19px;
                padding-bottom: 19px;
                background: $gray;
                margin: 5px;
                position: relative;

                &:before {
                    content: ' ';
                    display: block;
                    height: 5px;
                    background: $black;
                    width: 0%;
                    opacity: 0.2;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    @include transition;
                }

                &:after {
                    content: ' ';
                    display: block;
                    height: 5px;
                    background: $black;
                    width: 0%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    @include transition;
                }

                &:hover {
                    &:before {
                        content: ' ';
                        display: block;
                        height: 5px;
                        background: $gray-dark;
                        width: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }
                }

                &.active {
                    @include gradient;
                    color: $black;

                    .arrow-tab {
                        &:after {
                            top: 100%;
                            left: 50%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            border-top-color: #ffbf27;
                            border-width: 15px;
                            margin-left: -15px;
                            margin-top: -1px;
                        }
                    }

                    &:after {
                        content: ' ';
                        display: block;
                        height: 5px;
                        background: $black;
                        width: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }
                }
            }
        }

        .menu__informes {
            .dropdown {
                /*& > a {
                    background-image: url(../images/mas.png);
                    background-position: right center;
                    background-repeat: no-repeat;
                }*/
                &:after {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 20px;
                    top: 50%;
                    @include transform(translateY(-50%));
                    right: 0px;
                    background-image: url(../images/mas.png);
                    background-position: right center;
                    background-repeat: no-repeat;
                }

                .dropdown-item {
                    padding: 10px 20px;
                    font-size: $font-size-default;

                    &:active {
                        background: $gray;
                        color: $gray-dark;
                    }
                }

                & > .dropdown-menu {
                    @include transition;
                    opacity: 0;
                }

                &:hover > .dropdown-menu {
                    display: block;
                    opacity: 10;
                }

                & > .dropdown-toggle:active {
                    /*Without this, clicking will make it sticky*/
                    pointer-events: none;
                }

                .dropdown-menu {
                    padding: 15px 25px;
                    border: 0px none transparent;
                    min-width: 222px;
                }

                & .dropdown-menu > ul li {
                    list-style: none;
                    position: relative;

                    a {
                        color: $gray-dark;
                    }

                    &:before {
                        content: '';
                        display: inline-block;
                        background: url(../images/flecha-der.png) no-repeat left center;
                        height: 37px;
                        width: 20px;
                        position: absolute;
                        margin-left: 17px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                    & > .dropdown-item {
                        padding-left: 40px;
                    }
                }
            }

            .dropdown-divider {
                margin: 0;
            }

            .dropdown-toggle::after {
                border: 0px;
            }

            .nav-item {
                /*flex-grow: 5;*/
                width: 20%;
                padding: 3px;

                .nav-link {
                    height: 49px;
                    margin: 0px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: $font-size-default;
                    @include border-radius;
                    /*margin: 2px;*/
                    &:before {
                        border: 0
                    }
                }
            }
        }

        .sin__contenido {
            min-height: 400px;
            background: url(../images/airplane-bg.png) center center no-repeat;
        }
    }

    .tab-content {
        /*background: $white;
        padding: 20px;*/
    }
    /************
    INPUTFILE
    ************/
    .choose-file {

        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .inputfile + label {
            max-width: 76%;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline;
            overflow: hidden;
        }

        .no-js .inputfile + label {
            display: none;
        }

        .inputfile:focus + label,
        .inputfile.has-focus + label {
            outline: 1px none transparent;
            outline: -webkit-focus-ring-color auto 0px;
        }

        .inputfile + label * {
            /* pointer-events: none; */
            /* in case of FastClick lib use */
        }

        .inputfile-2 + label {
            border: 0 none transparent;
            background: $gray-light;
            @include transition;
        }

        .inputfile-2:focus + label,
        .inputfile-2.has-focus + label,
        .inputfile-2 + label:hover {
            background: $gray;
        }
    }
    /**********
    FOOTER
    *********/
    footer {
        width: 100%;
        background: $white;
        padding: 20px 0;
        align-self: flex-end;
    }
    /*****
        ACCORDION
        *****/
    .gj-modal {
        .gj-picker-md [role=footer] button.gj-button-md {
            color: $black
        }

        .gj-picker-md .arrow-begin,
        .gj-picker-md [role=body] [role=arrow] {
            background-color: $gray-dark;
        }

        .gj-picker-md .arrow-end {
            border-color: $gray-dark;
        }

        .gj-picker-md [role=footer] button.gj-button-md {
            text-transform: capitalize;
            font-size: $font-size-default;
        }
    }

    .card {
        border: 0 none transparent;
        margin-bottom: 20px;
        background-color: transparent;

        &__modal {
            padding: 0px;
        }

        [aria-expanded="true"] {
            &:after {
                content: '';
                background: url(../images/carrucel-abajo.png) no-repeat;
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                right: 0;
                transform: translateY(-50%);
            }
        }

        [aria-expanded="false"] {
            &:after {
                content: '';
                background: url(../images/carrucel-arriba.png) no-repeat;
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                right: 0;
                transform: translateY(-50%);
            }
        }

        .input--width {
            width: 100% !important;
        }

        .collapse, .collapsing {
            background: $white;
        }

        &-header {
            background: $gray-check;
            border-bottom: 0px none transparent;
            margin-bottom: 5px !important;

            .btn-link {
                color: $black;
                font-size: $font-size-default;
                @include fontbold;
                opacity: 0.8;
                @include transition;

                &:hover, &:focus {
                    text-decoration: none;
                    opacity: 1.0;
                }
            }
        }

        &-body {
            p {
                @include fontmedium;
                margin-bottom: 0.7rem;
            }

            .form-group.tamano, .tamano label, .tamano input {
                font-size: $font-size-title
            }

            .gj-timepicker {
                width: 144px;

                .gj-icon {
                    right: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .input__TMR--height {
                input {
                    width: 144px;
                    height: 44px;
                    text-align: center;

                    &[type="number"] {
                        padding-left: 24px;
                        width: 143px;
                        padding-right: 15px;
                    }
                }
            }

            .invalid-tooltip {
                left: initial;
                top: 87%;
                width: auto;
            }
        }

        .time--width {
            .gj-timepicker {
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }
    }
    /****
        editor
        ****/
    textarea.editor {
        border: 0 none transparent;
        background: $gray-light;
        height: 200px;
        padding: 15px;
        resize: none;
        width: 100%;
    }
    /******
        RADIO
        *******/
    .radio__content {
        display: none;
    }

    .custom-radio {
        margin-right: 3em;
        flex-grow: 1;

        & .custom-control-input:checked ~ .custom-control-label {
            &::after {
                background: url(../images/ok.png) no-repeat center;
            }

            &::before {
                color: #fff;
                border-color: $orange;
                background-color: $orange;
            }
        }

        .custom-control-label {
            height: 26px;
            padding-left: 0px;
            justify-content: flex-start;

            &:before {
                background-color: $gray;
                border: 0 none transparent;
            }
        }
    }

    .new {
        background: $orange;
        @include set-border-radius(50px 50px 50px 50px);
        padding: 5px;
        font-size: 10px;
        width: 43px;
        display: inline-block;
        height: 24px;
        margin-top: 5px;
        text-align: center;
    }
    /*****
        Status ticket
        *****/
    .ticket {
        &--cerrado {
            background: $black;
            color: $white;
            padding: 0.5rem;
            height: 32px;
            @include border-radius;
        }

        &--abierto {
            background: $orange;
            color: $white;
            padding: 0.5rem;
            height: 32px;
            @include border-radius;
        }
    }
}
/******
    TICKET MESSAGE
    ******/ 
.message {
    background: $gray-light;
    padding: 15px;
    margin-top: 20px;

    &__header {
        margin-bottom: 15px;

        .message__date {
            float: right;
            margin-top: 8px;
        }
    }

    &__body {
    }

    &__footer {
    }
}

