$font-size-default: 14px;
$font-size-subtitle: 16px;
$font-size-title:23px;
$inputs-height: 35px;
$inputs-padding: 5px 10px;

$bg-body: #F6F6F6;
$orange: #FFC844;
$black: #000000;
$gray-light: #F3F3F3;
$gray: #DEDEDE;
$gray-dark: #5E5E5E;
$gray-check: #c1c1c1;
$white: #ffffff;
$gray-line: #e1e1e1;

$menu-black-line: #2d2d2d;
$barra-superior: #333333; 
$menu-black: #232323;
