@import '_varibles.scss';
@import '_mixins.scss';
@import '_fonts.scss';

.bg-black {
    background: url(../images/bg.jpg) no-repeat top center $black;
    background-size: cover;
    color: $white;

    header {
        padding-top: 20px;
    }

    h1 {
        color: $orange;
        font-size: $font-size-title;
        font-weight: bold
    }

    a {
        text-decoration: underline;

        &:visited {
            text-decoration: none;
        }
    }

    .login {
        background: $white;
        color: $black;
        padding: 15px 35px;
        @include border-radius;

        &--relative {
            position: relative;
            margin-bottom: 20px;
        }
        /****input otro*/
        .input-group > .form-control {
            flex: none;
            width: 100%;
            padding-left: 52px;
            position: relative;
            z-index: 0;
        }

        .input-group-text {
            position: absolute;
            margin-top: 5px;
            z-index: 1;
        }


        .input {
            position: relative;
            z-index: 1;
            display: inline-block;
            margin: 0px;
            width: 100%;
            vertical-align: top;
        }

        .input__field {
            position: relative;
            display: block;
            float: right;
            padding: 0.8em;
            width: 60%;
            border: none;
            border-radius: 0;
            -webkit-appearance: none; /* for box shadows to show on iOS */
        }

        .input__field:focus {
            outline: none;
        }

        .input__label {
            display: inline-block;
            float: right;
            padding: 0 1em;
            width: 40%;
            font-size: 70.25%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            /*-khtml-user-select: none;*/
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .input__label-content {
            position: relative;
            display: block;
            padding: 1.6em 0;
            width: 100%;
        }

        .graphic {
            position: absolute;
            top: 0;
            left: 0;
            fill: none;
        }
    }

    .header__line {
        border-right: 1px solid #DEDEDE;
        display: inline-block;
        width: 1px;
        height: 20px;
        margin: 10px 15px;
        vertical-align: middle;
    }

    .bg__black__link {
        a {
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    footer {
        height: 50px;
        align-self: flex-end;
    }



    .menu__inicio {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
        @include border-radius;
        -webkit-box-shadow: 0px 0px 28px 0px rgba(255,200,68,0);
        -moz-box-shadow: 0px 0px 28px 0px rgba(255,200,68,0);
        box-shadow: 0px 0px 28px 0px rgba(255,200,68,0);
        @include transition;
        color: $gray-dark;
        text-align: center;
        padding: 30px 40px;
        height: 210px;
        border: 1px solid $white;

        a {
            text-decoration: none;
            display: inline-block;
        }

        h2 {
            color: $black;
            margin-top: 14px;
        }

        &:hover {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            -webkit-box-shadow: 0px 0px 28px 0px rgba(255,200,68,0.8);
            -moz-box-shadow: 0px 0px 28px 0px rgba(255,200,68,0.8);
            box-shadow: 0px 0px 28px 0px rgba(255,200,68,0.8);
        }
    }
}
/*******
    error text
    ********/
.error__text {
    color: $orange;
    font-size: 30px;
    line-height: normal;
}
