@import '_varibles.scss';
@import '_mixins.scss';
@import '_fonts.scss';
@import '_main-white.scss';
@import '_main-black.scss';

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    @include fontnormal;
    font-size: 14px;
    height: 100%;
    line-height: 17px;
}

strong {
    @include fontbold;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: $font-size-subtitle;
    font-weight: 800;
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
}

a {
    color: $black;
    text-decoration: none;
    @include transition;

    &:hover {
        color: $gray-dark;
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}

input, button, label {
    height: $inputs-height;
    padding: $inputs-padding;
    @include border-radius;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.hv100 {
    height: 100vh;
}

.w100 {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.content__section {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.optional {
    color: $black;
    opacity: 0.5
}

.vertical-line--left {
    border-left: 1px solid $gray-line;
    padding-left: 20px;
}

.vertical-line--right {
    border-right: 1px solid $gray-line;
    padding-right: 20px;
}

.overflow {
    width: 100%;
    overflow-x: auto;
}
/**********
FORMS
*********/
select::-ms-expand {
    display: none;
}

select, select.form-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/flecha-select.png) no-repeat center right $gray-light;
    border: 0 none transparent;
    outline: none;
    color: $black;
    height: 35px;
    padding: 5px 29px 5px 10px;

    &:focus {
        background: url(../images/flecha-select.png) no-repeat center right $gray;
    }
}

input, input[type="search"], input.form-control {
    border: 0 none transparent;
    background: $gray-light;
    outline: none;
    color: $black;
    height: 35px;
    padding: 5px 10px;

    &.gj-textbox-md {
        background: $gray-light;
        border: 0 none transparent;
        @include fontnormal;
        font-size: $font-size-default;

        &:focus {
            border: 0 none transparent;
        }
    }
}

.gj-picker-md {
    border: 1px solid $gray-light;

    & table thead {
        color: $orange;
    }

    & [role=header] {
        background: $orange;
    }

    table tr td {
        &.selected.gj-cursor-pointer div {
            background: $orange;
            @include fontbold;
        }

        &.today div {
            color: $black;
            @include fontbold;
        }
    }
}

.search__date--width {
    .gj-textbox-md {
        width: 107px;
        margin: auto 10px;
    }
}

.gj-datepicker-md [role=right-icon] {
    display: none;
}

input:focus {
    background: $gray;
    outline: transparent;
}

.form-control {
    border: 0 none transparent;
    background: transparent;
    font-size: $font-size-default;
    padding: 22px 10px;
    @include transition;

    &:focus {
        background: $gray;
        border: 0 none transparent;
        box-shadow: 0 0 0 0 transparent;
    }
}

.input-group {
    background: $gray-light;

    &:focus {
        background: $gray;
    }

    .input-group-text {
        &:after {
            content: '';
            border-right: 1px solid $gray;
            display: block;
            width: 1px;
            height: 20px;
            margin-left: 12px;
        }
    }
}

/*.was-validated .form-control:valid, .form-control.is-valid {
        background: none;
    }*/

.input-group-text {
    border: 0 none transparent;
    background: transparent;
}

.invalid-tooltip {
    background: $gray-dark;
    width: 270px;
    left: 0px;
    opacity: 0.95;

    &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-bottom-color: $gray-dark;
        border-width: 7px;
        margin-left: -10px;
    }
}
/**********
BUTTONS
*********/
.btn--opacity {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn {
    &:focus {
        @include no-box-shadow;
    }
}

.btn--default {
    background: #ffca4f; /* Old browsers */
    background: -moz-linear-gradient(left, #ffca4f 0%, #ffb400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffca4f 0%,#ffb400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffca4f 0%,#ffb400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca4f', endColorstr='#ffb400',GradientType=1 ); /* IE6-9 */
    @include border-radius;
    @include fontbold;
    font-size: $font-size-default;
    @include transition;

    &:hover {
        outline: none;

        @include transform(scale(1.03))
    }

    &:focus {
        outline: none;
    }
}

.btn--default--grey {
    background: $gray;
    font-size: $font-size-default;
    @include fontbold;
    @include border-radius;
    @include transition;
    text-decoration: none;

    &:hover {
        outline: none;
        @include transform(scale(1.03))
    }
}

.btn--border {
    border: 1px solid $gray;
    font-size: $font-size-default;
    @include border-radius;
    @include transition;
    min-width: 130px;
    position: relative;
    margin-right: 2px;

    &[disabled]:focus, &[disabled]:hover {
        @include no-box-shadow;
        cursor: not-allowed;
        border: 1px solid $gray;

        &::before, &::before {
            opacity: 0;
            @include transform(scale3d(1, 1, 1));
        }
    }

    &:before {
        content: '';
        @include border-radius;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition;
        @include transform(scale3d(1.1, 1.1, 1));
        -webkit-backface-visibility: hidden;
        opacity: 0;
        border: 1px solid $orange;
    }

    &:hover, &:focus {
        border: 1px solid transparent;

        &::before, &::before {
            opacity: 1;
            @include transform(scale3d(1, 1, 1));
        }
    }
}

.btn--simple {
    @include transition;

    &:hover, &:focus {
        opacity: 0.9;
    }
}
/*********
ALERT
*********/
.alert__bell {
    border-bottom: 0 none;
    display: inline-block;

    .dropdown-menu {
        transform: translate3d(-92px, 59px, 0px);
        top: 17px !important;
        left: -21px !important;
        position: relative;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.15);

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 15px;
            margin-left: -15px;
        }

        &:before {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: rgba(0, 0, 0, 0.15);
            border-width: 16px;
            margin-left: -16px;
        }
    }

    .dropdown-item {
        color: $black;
        padding: 15px 1.5rem;
        font-size: 14px;

        a {
            color: $orange;
            font-weight: 800;
            display: block;
            padding-top: 5px;
        }

        &.active, &:active {
            background: $gray-light;
        }
    }

    .dropdown-divider {
        height: 0;
        margin: 0rem 20px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-link {
        border: 0 none transparent;
        background: transparent;
    }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
}
/**********
MODAL
*********/
.number-ver {
    span {
        display: block;
        font-size: 19px;
        font-weight: bold;
        margin-top: .5em;
    }

    a {
        text-decoration: none;
    }
}

.modal--full {
    width: 100%;
    max-width: 100%;
    margin-top: 0;

    .modal-content {
        border-radius: 0;
        border: 0 none transparent;
    }

    .modal-body {
        font-size: $font-size-subtitle;
    }

    .modal-footer, .modal-header, .modal-body {
        text-align: center;
        justify-content: center;
        color: $black;
    }
}

.modal-header {
    border-bottom: 0 none transparent;
}

.modal-footer {
    border-top: 0px none transparent;
    padding-top: 0px
}

.modal--big {
    margin: 0;
    min-height: 100vh;

    .modal-content {
        min-height: 100vh;
        border-radius: 0;
        border: 0px none transparent;

        .modal-body {
            margin-bottom: 20px;
        }

        .modal-footer {
            display: block;
        }
    }
}

.show {
    padding-right: 0px !important;
}
/**********
CHART
***********/
#chart {
    width: 1070px;
    height: 500px;
    background: #ddd;
}

text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
    fill: $white;
}

rect {
    fill: none;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 3px;
}

.grandparent rect {
    fill: $gray-dark;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: $orange;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: $orange;
}
/***********
    Chart curve
**********/
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Lato;
    font-size: 13px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}
/*********
    Datatable
    ********/
table.dataTable {
    margin-top: 20px !important;
}

table {
    td {
        input, select {
            background-color: #ffffff !important;
            text-align: center;
        }
    }
}

.dataTables_info {
    @include fontmedium;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    content: '';
    background: url(../images/table-up.png) no-repeat center;
    display: inline-block;
    width: 11px;
    height: 11px;
    right: 0.2em;
    top: 35%;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    content: '';
    background: url(../images/table-down.png) no-repeat center;
    display: inline-block;
    width: 11px;
    height: 11px;
    top: 44%;
    right: 0.2em;
}

.table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 21px;
}

.pagination {
    margin-bottom: 0;

    .previous, .next {
        .page-link {
            border: 0 none transparent;
            color: $gray-dark;

            &:focus {
                background: transparent;
            }
        }
    }

    .page-link {
        color: $gray-dark;
        border: 1px solid $gray;
        margin-right: 5px;

        &:focus {
            background: $orange;
            @include no-box-shadow;
        }
    }
}

.page-item.active .page-link {
    background: $orange;
    border: 1px solid $white;
    @include border-radius;
    color: $gray-dark;
}

.button__space {
    float: left;
}

.dataTables_filter {
    /*float: right
    width: 100%;*/
    float: right;
}
/********
    SWITCH
    *******/
.switch {
    position: relative;
    display: inline-block;
    width: 93px;
    height: 35px;
    text-align: initial;
    vertical-align: middle;
    margin-left: 17px;

    &.switch--ticket {
        width: 131px;

        .slider {
            span {
                @include transform(translateX(-86px))
            }

            &:after {
                @include transform(translateX(-132px))
            }
        }

        input:checked + .slider:before {
            @include transform(translateX(96px))
        }
    }

    & input {
        display: none;

        &:checked + .slider:after {
            @include transform(translateX(0px));
            /*width: 235px;*/
            padding-left: 25px;
        }

        &:checked + .slider:before {
            background-color: #fff;
        }

        &:checked + .slider:before {
            @include transform(translateX(57px));
        }
    }

    & input:checked + .slider span {
        @include transform(translateX(15px));
    }

    .slider {
        position: absolute;
        cursor: pointer;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        @include transition;



        span {
            color: $white;
            position: absolute;
            z-index: 2;
            top: 8px;
            /*left: 11px;*/
            @include transform(translateX(-46px));
            @include transition;
        }

        &:before {
            position: absolute;
            z-index: 2;
            content: "";
            height: 26px;
            width: 26px;
            left: 5px;
            bottom: 4px;
            background-color: $white;
            @include transition;
        }

        &:after {
            position: absolute;
            left: 0;
            z-index: 1;
            content: " ";
            text-align: left !important;
            padding-left: 0;
            width: 100%;
            color: #fff;
            height: 35px;
            border-radius: 100px;
            background-color: $orange;
            @include transform(translateX(-102px));
            @include transition;
        }
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 100px;
        @include box-shadow-inset-set(inset 0px 0px 0px 1px rgba(255,255,255,1));
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .absolute-no {
        color: $white;
        position: absolute;
        left: 0;
        text-align: right !important;
        width: calc(100% - 9px);
        height: 35px;
        cursor: pointer;
        top: 8px;
    }
}
/*****
    PRELOADER
    ******/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.globo {
    background-image: url('../images/world-map-01.svg');
    background-repeat: repeat-x;
    background-size: cover;
    background-color: $orange;
    -webkit-animation-name: loader; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 60px;
    height: 60px;
    position: relative;
    @include set-border-radius(100px 100px 100px 100px);
    @include box-shadow-inset-set(rgba(138, 83, 0, 0.96) inset 11px 0px 22px 0px);
    /*&:after{
        content:'Cargando...';
        position: absolute;
        bottom:-28px;
    }*/
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes loader {
    0% {
        background-position: 0 0px;
    }

    50% {
        background-position: 110px 0px;
    }

    100% {
        background-position: 220px 0px;
    }
}

/* Standard syntax */
@keyframes loader {
    0% {
        background-position: 0 0px;
    }

    50% {
        background-position: 110px 0px;
    }

    100% {
        background-position: 220px 0px;
    }
}

/******
    Scrollbar
    ******/
body {
    scrollbar-face-color: $orange;
    scrollbar-track-color: $gray;
    scrollbar-shadow-color: $orange;
    scrollbar-dark-shadow-color: $orange;
}

::-webkit-scrollbar-track {
    background-color: $gray;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $gray;
}

::-webkit-scrollbar-thumb {
    background-color: $orange;
    @include set-border-radius(10px);
}
/********
    tooltip validate
    ********/
.tool__valide {
    position: absolute;
    background: rgba(0, 0, 0, 0.73);
    color: #fff;
    border-radius: 5px;
    z-index: 1;
    bottom: -33px;

    & > span, & li {
        padding: 10px;
        display: block;

        &:before {
            content: '';
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-right-width: 8px;
            border-left-width: 8px;
            border-bottom: 8px solid rgba(0, 0, 0, 0.73);
            bottom: 100%;
            left: 47%;
            position: absolute;
            pointer-events: none;
        }
    }

    ul {
        margin-bottom: 0;
    }
}
.text__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 320px;
    overflow: hidden;
    vertical-align: middle;
    text-transform: capitalize
}