@model Opain.Jarvis.Dominio.Entidades.HorarioAerolineaOtd

    <div class="row text-center">
        <div class="col-sm-6 offset-sm-3 mt-4 mb-2">
            <p>
                <img src="~/images/advertencia-bien.png" />
            </p>
            <p>
                ¿Esta seguro de eliminar este horario?
            </p>
            <p>
                <input type="hidden" name="IdEliminarHorarioAerolinea" id="IdEliminarHorarioAerolinea" value="@Model.Id" />
            </p>
        </div>

        <div class="col-sm-3 offset-sm-3">
            <button type="button" class="btn btn--default--grey btn-block" data-dismiss="modal">Cancelar</button>
        </div>
        <div class="col-sm-3">
            <button type="button" id="btnEliminarHorarioAerolinea" onclick="EliminarHorarioAerolineaPost();" class="btn btn--default btn-block">
                Eliminar
            </button>
        </div>
    </div>
