
@{
    ViewData["Title"] = "Contáctenos";
}

<h1>Contáctenos</h1>

<div class="bg--white">
    Aquí podrá verificar y hacer seguimiento a los tickets
</div>

<div class="bg--white mb-5">
    <div class="row">
        <div class="col-sm-2">
            Tipo de ticket
        </div>

        <div class="col-sm-8">
            <form class="form-inline text-center radio__filter">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck" name="example" value="Vuelos" checked>
                    <label class="custom-control-label" for="customCheck">Vuelos</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck2" name="example" value="Cobros">
                    <label class="custom-control-label" for="customCheck2">Cobros</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck3" name="example" value="Anexos">
                    <label class="custom-control-label" for="customCheck3">Anexos</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck4" name="example" value="Factura">
                    <label class="custom-control-label" for="customCheck4">Factura</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck5" name="example" value="PQR">
                    <label class="custom-control-label" for="customCheck5">PQR</label>
                </div>

            </form>
        </div>
    </div>
    <hr />
    <!------>
    <div id="showVuelos" class="radio__content" style="display:inline">
        <table class="example2" style="width:100%">
            <thead>
                <tr>
                    <td>
                        Estado
                    </td>
                    <td style="width: 75px;">
                        Fecha
                    </td>
                    <td style="width:74px">
                        Número de ticket
                    </td>
                    <td style="width:65px">
                        Número de vuelo
                    </td>
                    <td style="width:93px">
                        Aerolínea
                    </td>
                    <td>
                        Asunto
                    </td>
                    <td style="width:290px">
                        Descripción
                    </td>
                    <td style="width: 77px;">
                        Seguimiento
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td style="width:75px">
                        31 Oct 2019
                    </td>
                    <td style="width:74px">
                        AV123
                    </td>
                    <td style="width:65px">
                        456
                    </td>
                    <td style="width:93px">
                        LATAM
                    </td>
                    <td class="text-left">
                        Cras vel tellus augue.

                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".seguimientoVuelo">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                        <div class="new">
                            Nuevo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td style="width:75px">
                        31 Oct 2019
                    </td>
                    <td style="width:74px">
                        AV123
                    </td>
                    <td style="width:65px">
                        456
                    </td>
                    <td style="width:93px">
                        LATAM
                    </td>
                    <td class="text-left">
                        Cras vel tellus augue.

                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".eliminar">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                        <div class="new">
                            Nuevo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td style="width:75px">
                        31 Oct 2019
                    </td>
                    <td style="width:74px">
                        AV123
                    </td>
                    <td style="width:65px">
                        456
                    </td>
                    <td style="width:93px">
                        Copa airlines
                    </td>
                    <td class="text-left">
                        Lorem ipsum dolor sit amet

                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".eliminar">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!------>
    <div id="showCobros" class="radio__content">
        <table class="example2" style="width:100%">
            <thead>
                <tr>
                    <td>
                        Estado
                    </td>
                    <td style="width: 75px;">
                        Fecha
                    </td>
                    <td style="width:74px">
                        Número de ticket
                    </td>
                    <td style="width:65px">
                        Número de vuelo
                    </td>
                    <td style="width:93px">
                        Aerolínea
                    </td>
                    <td>
                        Asunto
                    </td>
                    <td style="width:290px">
                        Descripción
                    </td>
                    <td style="width: 77px;">
                        Seguimiento
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td style="width:75px">
                        31 Oct 2019
                    </td>
                    <td style="width:74px">
                        AV123
                    </td>
                    <td style="width:65px">
                        456
                    </td>
                    <td style="width:93px">
                        LATAM
                    </td>
                    <td class="text-left">
                        Cras vel tellus augue.

                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".seguimientoVuelo">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                        <div class="new">
                            Nuevo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td style="width:75px">
                        31 Oct 2019
                    </td>
                    <td style="width:74px">
                        AV123
                    </td>
                    <td style="width:65px">
                        456
                    </td>
                    <td style="width:93px">
                        Copa airlines
                    </td>
                    <td class="text-left">
                        Lorem ipsum dolor sit amet

                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".eliminar">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!------>
    <div id="showAnexos" class="radio__content">
        <table class="example2" style="width:100%">
            <thead>
                <tr>
                    <td>
                        Estado
                    </td>
                    <td>
                        Fecha
                    </td>
                    <td>
                        Número de ticket
                    </td>
                    <td style="width:104px">
                        Aerolínea
                    </td>
                    <td>
                        Número de factura
                    </td>
                    <td style="width:290px">
                        Descripción
                    </td>
                    <td style="width: 77px;">
                        Seguimiento
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td>
                        31 Oct 2019
                    </td>
                    <td>
                        AV123
                    </td>
                    <td style="width:104px">
                        LATAM
                    </td>
                    <td>
                        456
                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".anexos">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                        <div class="new">
                            Nuevo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td>
                        31 Oct 2019
                    </td>
                    <td>
                        AV123
                    </td>
                    <td style="width:104px">
                        LATAM
                    </td>
                    <td>
                        456
                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".anexos">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                        <div class="new">
                            Nuevo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td>
                        31 Oct 2019
                    </td>
                    <td>
                        AV123
                    </td>
                    <td style="width:104px">
                        LATAM
                    </td>
                    <td>
                        456
                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".anexos">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!------>
    <div id="showFactura" class="radio__content">
        <table class="example2" style="width:100%">
            <thead>
                <tr>
                    <td>
                        Estado
                    </td>
                    <td>
                        Fecha
                    </td>
                    <td>
                        Número de ticket
                    </td>
                    <td style="width:104px">
                        Aerolínea
                    </td>
                    <td>
                        Número de factura
                    </td>
                    <td style="width:290px">
                        Descripción
                    </td>
                    <td style="width: 77px;">
                        Seguimiento
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td>
                        31 Oct 2019
                    </td>
                    <td>
                        AV123
                    </td>
                    <td style="width:104px">
                        LATAM
                    </td>
                    <td>
                        456
                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".anexos">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                        <div class="new">
                            Nuevo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td>
                        31 Oct 2019
                    </td>
                    <td>
                        AV123
                    </td>
                    <td style="width:104px">
                        LATAM
                    </td>
                    <td>
                        456
                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".facturas">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!------>
    <div id="showPQR" class="radio__content">
        <table class="example2" style="width:100%">
            <thead>
                <tr>
                    <td>
                        Estado
                    </td>
                    <td style="width: 75px;">
                        Fecha
                    </td>
                    <td style="width:74px">
                        Número de ticket
                    </td>
                    <td style="width:65px">
                        Número de vuelo
                    </td>
                    <td style="width:93px">
                        Aerolínea
                    </td>
                    <td>
                        Asunto
                    </td>
                    <td style="width:290px">
                        Descripción
                    </td>
                    <td style="width: 77px;">
                        Seguimiento
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td style="width:75px">
                        31 Oct 2019
                    </td>
                    <td style="width:74px">
                        AV123
                    </td>
                    <td style="width:65px">
                        456
                    </td>
                    <td style="width:93px">
                        Avianca
                    </td>
                    <td class="text-left">
                        Cras vel tellus augue.

                    </td>
                    <td class="text-left" style="width:290px">
                        Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".seguimientoVuelo">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                        <div class="new">
                            Nuevo
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Abierto
                    </td>
                    <td style="width:75px">
                        31 Oct 2019
                    </td>
                    <td style="width:74px">
                        AV123
                    </td>
                    <td style="width:65px">
                        456
                    </td>
                    <td style="width:93px">
                        Copa airlines
                    </td>
                    <td class="text-left">
                        Lorem ipsum dolor sit amet

                    </td>
                    <td class="text-left" style="width:290px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue.
                    </td>
                    <td style="width: 77px;">
                        <button type="button" class="btn btn--simple d-inline float-left p-1" data-toggle="modal" data-target=".eliminar">
                            <img src="~/images/buscar.png" alt="Ver detalles">
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<!--Modal de seguimiento vuelos, cobros y pqr-->
<div class="modal fade seguimientoVuelo" tabindex="-1" role="dialog" aria-labelledby="seguimientoVuelo" aria-hidden="true">
    <div class="modal-dialog modal--big">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4 offset-sm-2">
                        <button type="button" class="btn btn-block" data-dismiss="modal">
                            <img src="~/images/cerra.png" alt="Cerrar" />
                        </button>
                    </div>
                </div>
            </div>
            <form class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-10 offset-sm-1">
                                <div class="row">
                                    <h1 class="col-6">Seguimiento</h1>
                                    <div class="col-6 text-right">
                                        Editar estado del ticket:
                                        <label class="switch switch--ticket">
                                            <input type="checkbox" checked>
                                            <span class="slider round">
                                                <span>Ticket abierto</span>
                                            </span>
                                            <span class="absolute-no">Ticket cerrado</span>
                                        </label>
                                    </div>
                                </div>


                                <hr />
                                <div class="d-flex text-center">
                                    <div class="flex-fill">
                                        Número de ticket: <strong>45654</strong>
                                    </div>
                                    <div class="vertical-line--left"></div>
                                    <div class="flex-fill">
                                        Aerolínea: <strong>Avianca</strong>
                                    </div>
                                    <div class="vertical-line--left"></div>
                                    <div class="flex-fill">
                                        Número de vuelo: <strong>AV123</strong>
                                    </div>
                                </div>
                                <hr />
                                <!--Acordion respuesta--->
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body card__modal">
                                        <strong>Responder</strong>
                                        <p>Descripción del mensaje</p>
                                        <textarea class="editor"></textarea>
                                    </div>
                                    <div class="text-right">
                                        <div class="d-inline-block">
                                            <div class="choose-file btn--border p-2">
                                                <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-2" />
                                                <label for="file-3" class="flex-grow-1 table-button__upload">
                                                    <img src="~/images/adjuntar.png" alt="Adjuntar archivo" class="img-fluid mr-2 ml-2"> <span>Adjuntar archivo</span>
                                                </label>
                                                <div class="invalid-tooltip">
                                                    El archivo no es valido o no tiene el formato correcto
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn--border" data-toggle="modal" data-target=".enviado" data-dismiss="modal">
                                            <img src="~/images/enviar.png" alt="Enviar" class="img-fluid mr-2 ml-2"> Enviar
                                        </button>
                                    </div>
                                    <hr />
                                </div>
                                <!----->
                                <div class="row">
                                    <div class="col-6 pt-2">
                                        <p>A continuación se muestran los mensajes del ticket seleccionado</p>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn--border responder" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            <img src="~/images/responder.png" alt="Responder mensaje" class="img-fluid mr-2 ml-2"> Responder
                                        </button>
                                    </div>
                                </div>

                                <!---cuando no hay adjunto-->
                                <div class="message">
                                    <div class="message__header">
                                        Mesaje de: <strong>Soporte</strong>
                                        <div class="new">Nuevo</div>
                                        <strong class="message__date">
                                            13/05/19
                                        </strong>
                                    </div>
                                    <div class="message__body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue. Proin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                </div>

                                <!--con adjunto--->
                                <div class="message">
                                    <div class="message__header">
                                        Mesaje de: <strong>Carlos Rojas</strong>
                                        
                                        <strong class="message__date">
                                            13/05/19
                                        </strong>
                                    </div>
                                    <div class="message__body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue. Proin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <div class="message__footer">
                                        <hr />
                                        <button type="submit" id="any_button" class="btn btn--border" data-toggle="modal" data-target=".guardado">
                                            <img src="~/images/descargar.png" alt="Descargar adjunto" class="img-fluid mr-2 ml-2"> Descargar adjunto
                                        </button>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal de anexos-->
<div class="modal fade anexos" tabindex="-1" role="dialog" aria-labelledby="anexos" aria-hidden="true">
    <div class="modal-dialog modal--big">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4 offset-sm-2">
                        <button type="button" class="btn btn-block" data-dismiss="modal">
                            <img src="~/images/cerra.png" alt="Cerrar" />
                        </button>
                    </div>
                </div>
            </div>
            <form class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-10 offset-sm-1">
                                <div class="row">
                                    <h1 class="col-6">Seguimiento</h1>
                                    <div class="col-6 text-right">
                                        Editar estado del ticket:
                                        <label class="switch switch--ticket">
                                            <input type="checkbox" checked>
                                            <span class="slider round">
                                                <span>Ticket abierto</span>
                                            </span>
                                            <span class="absolute-no">Ticket cerrado</span>
                                        </label>
                                    </div>
                                </div>


                                <hr />
                                <div class="d-flex text-center">
                                    <div class="flex-fill">
                                        Número de ticket: <strong>45654</strong>
                                    </div>
                                    <div class="vertical-line--left"></div>
                                    <div class="flex-fill">
                                        Aerolínea: <strong>Avianca</strong>
                                    </div>
                                    <div class="vertical-line--left"></div>
                                    <div class="flex-fill">
                                        Número de factura: <strong>456</strong>
                                    </div>
                                </div>
                                <hr />
                                <!--Acordion respuesta--->
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body card__modal">
                                        <strong>Responder</strong>
                                        <p>Descripción del mensaje</p>
                                        <textarea class="editor"></textarea>
                                    </div>
                                    <div class="text-right">
                                        <div class="d-inline-block">
                                            <div class="choose-file btn--border p-2">
                                                <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-2" />
                                                <label for="file-3" class="flex-grow-1 table-button__upload">
                                                    <img src="~/images/adjuntar.png" alt="Adjuntar archivo" class="img-fluid mr-2 ml-2"> <span>Adjuntar archivo</span>
                                                </label>
                                                <div class="invalid-tooltip">
                                                    El archivo no es valido o no tiene el formato correcto
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn--border" data-toggle="modal" data-target=".enviado" data-dismiss="modal">
                                            <img src="~/images/enviar.png" alt="Enviar" class="img-fluid mr-2 ml-2"> Enviar
                                        </button>
                                    </div>
                                    <hr />
                                </div>
                                <!----->
                                <div class="row">
                                    <div class="col-6 pt-2">
                                        <p>A continuación se muestran los mensajes del ticket seleccionado</p>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn--border responder" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            <img src="~/images/responder.png" alt="Responder mensaje" class="img-fluid mr-2 ml-2"> Responder
                                        </button>
                                    </div>
                                </div>

                                <!---cuando no hay adjunto-->
                                <div class="message">
                                    <div class="message__header">
                                        Mesaje de: <strong>Soporte</strong>
                                        <div class="new">Nuevo</div>
                                        <strong class="message__date">
                                            13/05/19
                                        </strong>
                                    </div>
                                    <div class="message__body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue. Proin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                </div>

                                <!--con adjunto--->
                                <div class="message">
                                    <div class="message__header">
                                        Mesaje de: <strong>Carlos Rojas</strong>
                                        <strong class="message__date">
                                            13/05/19
                                        </strong>
                                    </div>
                                    <div class="message__body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel tellus augue. Sed quis posuere turpis, vel lobortis augue. Proin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <div class="message__footer">
                                        <hr />
                                        <button type="submit" id="any_button" class="btn btn--border" data-toggle="modal" data-target=".guardado">
                                            <img src="~/images/descargar.png" alt="Descargar adjunto" class="img-fluid mr-2 ml-2"> Descargar adjunto
                                        </button>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal enviado correctamente-->
<div class="modal fade advertencia enviado" tabindex="-1" role="dialog" aria-labelledby="enviado" aria-hidden="true">
    <div class="modal-dialog modal--full">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/advertencia.png" class="img-fluid" />
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-sm-4 offset-sm-4">
                        <p>
                            Su mensaje ha sido enviado correctamente
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <button type="button" class="btn btn--default btn-block" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>