@import url("https://use.typekit.net/hmk7iwx.css");

/*@font-face {
    font-family: 'GriffithGothicThinRegular';
    src: url('fonts/GriffithGothicThinRegular.ttf') format('truetype');
    src: url('fonts/GriffithGothicThinRegular.woff2') format('woff2');
    font-weight: lighter;
}

@font-face {
    font-family: 'GriffithGothicLight';
    src: url('fonts/GriffithGothicLight.ttf') format('truetype');
    src: url('fonts/GriffithGothicLight.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'GriffithGothicBold';
    src: url('fonts/GriffithGothicBold.ttf') format('truetype');
    src: url('fonts/GriffithGothicBold.woff2') format('woff2');
    font-weight: bold;
}*/