
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_menuinicio.cshtml";
}
    <div class="row">
        <div class="col-sm-6 text-right">
            <img src="~/images/error-404.png" alt="" />
        </div>
        <div class="col-sm-4 error__text mt-5">
            <p class="mt-4">
                La página que busca<br />
                no esta disponible
            </p>
            <a href="javascript:history.back(-1);" class="btn btn--default btn-block">
                Clic aquí para regresar
            </a>
        </div>
    </div>
    
    

