
@{
    ViewData["Title"] = "Jarvis - Opain";
    Layout = "~/Views/Shared/_menuinicio.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
<div class="row" style="display: flex; align-items: center; justify-content: center;">
    <div class="col-sm-4 mt-4">
        @if (User.Claims.Where(h => h.Type.Equals("ActivarCarga")).FirstOrDefault().Value.Equals("1"))
        {
            <div class="menu__inicio">
                <a href="~/CargaInformacion/Vuelos/Principal">
                    <img src="~/images/cargar-informacion.png" alt="" />
                    <h2>Cargar información</h2>
                    Adjunte la información sobre los vuelos
                </a>
            </div>
        }
        else
        {
            <div class="menu__inicio btn--opacity">
                <img src="~/images/cargar-informacion.png" alt="" />
                <h2>Cargar información</h2>
                Adjunte la información sobre los vuelos
                <br />
                <em>La plataforma se encuentra desactivada para la carga de archivos</em>
            </div>
        }
    </div>

    <div class="col-sm-4  mt-4">
        @if (User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("ADMINISTRADOR"))
        {

            <div class="menu__inicio">
                <a href="~/Consulta/Consulta/Principal">
                    <img src="~/images/consultas.png" alt="" />
                    <h2>Consultas</h2>
                    Muestra en detalle la información de los vuelos
                </a>
            </div>
        }
        else
        {
            <div class="menu__inicio btn--opacity">
                <img src="~/images/consultas.png" alt="" />
                <h2>Consultas</h2>
                Muestra en detalle la información de los vuelos
                <br />
                <em>Su usuario no tiene el perfil para ingresar</em>
            </div>
        }
    </div>

    <div class="col-sm-4  mt-4">
        @if (User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("ADMINISTRADOR"))
        {

            <div class="menu__inicio">
                <a href="~/TransitoConexion/TransitoConexion/Principal">
                    <img src="~/images/transitios-conxiones.png" alt="" />
                    <h2>Tránsitos y conexiones</h2>
                    Información sobre las conexiones de los pasajeros entre vuelos
                </a>
            </div>
        }
        else
        {
            <div class="menu__inicio btn--opacity">
                <img src="~/images/transitios-conxiones.png" alt="" />
                <h2>Tránsitos y conexiones</h2>
                Información sobre las conexiones de los pasajeros entre vuelos
                <br />
                <em>Su usuario no tiene el perfil para ingresar</em>
            </div>
        }
    </div>
    @if (  User.IsInRole("OPAIN") || User.IsInRole("CARGA") || User.IsInRole("TECNOLOGIA") || User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO"))
    {
        <div class="col-sm-4 mt-4">
            @if (User.IsInRole("AEROLINEA")  || User.IsInRole("SUPERVISOR") || User.IsInRole("CARGA") || User.IsInRole("SUPERVISOR CARGA") || User.IsInRole("TECNOLOGIA") || User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO"))
            {
                <div class="menu__inicio">
                    <a href="~/Informes/Informes/Principal">
                        <img src="~/images/informes.png" alt="" />
                        <h2>Informes</h2>
                        Detalles y especificaciones de los vuelos
                    </a>
                </div>
            }
            else
            {
                <div class="menu__inicio btn--opacity">
                    <img src="~/images/informes.png" alt="" />
                    <h2>Informes</h2>
                    Detalles y especificaciones de los vuelos
                    <br />
                    <em>Su usuario no tiene el perfil para ingresar</em>
                </div>
            }

        </div>

        <div class="col-sm-4 mt-4">
            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("OPAIN"))
            {

                <div class="menu__inicio">
                    <a href="~/Administracion/AdmonGeneral/Principal">
                        <img src="~/images/administracion.png" alt="" />
                        <h2>Administración</h2>
                        Administre los permisos y restricciones de los usuarios
                    </a>
                </div>
            }
            else
            {
                @*<div class="menu__inicio btn--opacity">
                        <img src="~/images/administracion.png" alt="" />
                        <h2>Administración</h2>
                        Administre los permisos y restricciones de los usuarios
                        <br />
                        <em>Su usuario no tiene el perfil para ingresar</em>
                    </div>*@
            }
        </div>

        <div class="col-sm-4 mt-4">
            @if (User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA") || User.IsInRole("ADMINISTRADOR") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("CARGA"))
            {

                <div class="menu__inicio">
                    <a href="~/Contactenos/Tickets/Principal">
                        <img src="~/images/contacto.png" alt="" />
                        <h2>Contáctenos</h2>
                        Realice sus consultas y haga seguimiento de sus tickets
                    </a>
                </div>
            }
            else
            {
                <div class="menu__inicio btn--opacity">
                    <img src="~/images/contacto.png" alt="" />
                    <h2>Contáctenos</h2>
                    Realice sus consultas y haga seguimiento de sus tickets
                    <br />
                    <em>Su usuario no tiene el perfil para ingresar</em>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-sm-4 mt-4" style="padding-top:15px; padding-bottom:15px; important!">
            @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("CARGA") || User.IsInRole("SUPERVISOR CARGA") || User.IsInRole("TECNOLOGIA") || User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO"))
            {
                <div class="menu__inicio">
                    <a href="~/Informes/Informes/Principal">
                        <img src="~/images/informes.png" alt="" />
                        <h2>Informes</h2>
                        Detalles y especificaciones de los vuelos
                    </a>
                </div>
            }
            else
            {
                <div class="menu__inicio btn--opacity">
                    <img src="~/images/informes.png" alt="" />
                    <h2>Informes</h2>
                    Detalles y especificaciones de los vuelos
                    <br />
                    <em>Su usuario no tiene el perfil para ingresar</em>
                </div>
            }

        </div>

        

        <div class="col-sm-4 mt-4" style="padding-top:15px; padding-bottom:15px; important!">
            @if (User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA") || User.IsInRole("ADMINISTRADOR") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("CARGA"))
            {

                <div class="menu__inicio">
                    <a href="~/Contactenos/Tickets/Principal">
                        <img src="~/images/contacto.png" alt="" />
                        <h2>Contáctenos</h2>
                        Realice sus consultas y haga seguimiento de sus tickets
                    </a>
                </div>
            }
            else
            {
                <div class="menu__inicio btn--opacity">
                    <img src="~/images/contacto.png" alt="" />
                    <h2>Contáctenos</h2>
                    Realice sus consultas y haga seguimiento de sus tickets
                    <br />
                    <em>Su usuario no tiene el perfil para ingresar</em>
                </div>
            }
        </div>
    }



</div>
}




