
@{
    ViewData["Title"] = "MenuInicio";
    Layout = "~/Views/Shared/_menuinicio.cshtml";
}
    
    <div class="row">
        <div class="col-sm-4">
            <div class="menu__inicio">
                <a href="~/cargarinformacion/cargarinformacion">
                    <img src="~/images/cargar-informacion.png" alt="" />
                    <h2>Cargar información</h2>
                    Adjunte la información sobre
                    los vuelos
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="menu__inicio">
                <a href="~/consultas/consultas">
                    <img src="~/images/consultas.png" alt="" />
                    <h2>Consultas</h2>
                    Muestra en detalle la información
                    de los vuelos
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="menu__inicio">
                <a href="~/TransitosConexiones/TransitosConexiones">
                    <img src="~/images/transitios-conxiones.png" alt="" />
                    <h2>Tránsitos y conexiónes</h2>
                    Información sobre las conexiones de los pasajeros entre vuelos
                </a>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="menu__inicio">
                <a href="~/informes/informes">
                    <img src="~/images/informes.png" alt="" />
                    <h2>Informes</h2>
                    Detalles y especificaciones de los vuelos
                </a>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="menu__inicio">
                <a href="~/administracion/administracion">
                    <img src="~/images/administracion.png" alt="" />
                    <h2>Administración</h2>
                    Administre los permisos y restricciones
                    de los usuarios
                </a>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="menu__inicio">
                <a href="~/contactenos/contactenos">
                    <img src="~/images/contacto.png" alt="" />
                    <h2>Contáctenos</h2>
                    Realice sus consultas y haga
                    seguimiento de sus tickets
                </a>
            </div>
        </div>
    </div>


