@model Opain.Jarvis.Dominio.Entidades.OperacionVueloOtd

<div class="alert alert-warning alert-dismissible fade show row" id="advertencia" role="alert">
    <p class="text-center mb-0"></p>
    <button type="button" class="close" id="btnClose" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">
    <div class="col-12">
        <form asp-action="Insertar" id="formInsertarVuelo" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="tool__valide"></div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Vuelo" class="control-label"></label>
                    <input asp-for="Vuelo" class="form-control"  onkeypress="return check(event)"/>
                    <span asp-validation-for="Vuelo" class="tool__valide"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Matricula" class="control-label"></label>
                    <input asp-for="Matricula" class="form-control"  onkeypress="return check(event)"/>
                    <span asp-validation-for="Matricula" class="tool__valide"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Tipo" class="control-label"></label>
                    <select asp-for="Tipo" id="tipo" class="form-control txtVal">
                        <option value="INT">Internacional</option>
                        <option value="DOM">Nacional</option>
                    </select>
                    <span asp-validation-for="Tipo" class="tool__valide"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Destino" class="control-label"></label>
                    <input asp-for="Destino" class="form-control"  onkeypress="return check(event)"/>
                    <span asp-validation-for="Destino" class="tool__valide"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                     <label for="Fecha" class="control-label"></label>
                     <input id="Fecha" min="1900-12-31" max="2100-12-31" name="Fecha" class="form-control" type="date"  onblur="myFunction()"/>
                    @*<label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" type="date" min="1900-12-31" max="2100-12-31" id="Fecha" class="form-control" onblur="myFunction()"/>
                    <span asp-validation-for="Fecha" class="tool__valide"></span>*@ 
                </div>
                <div class="form-group col-6">
                    <label asp-for="Hora" class="control-label"></label>
                    <input asp-for="Hora" type="text" id="InsHora" readonly class="form-control" />
                    <span asp-validation-for="Hora" class="tool__valide"></span>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="TotalEmbarcados" class="control-label"></label>
                    <input asp-for="TotalEmbarcados" id="InsTotalEmbarcados" class="form-control txtVal" />
                    <span asp-validation-for="TotalEmbarcados" class="tool__valide"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="INF" class="control-label"></label>
                    <input asp-for="INF" id="InsINF" class="form-control txtVal" />
                    <span asp-validation-for="INF" class="tool__valide"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="TTL" class="control-label"></label>
                    <input asp-for="TTL" id="InsTTL" class="form-control txtVal" />
                    <span asp-validation-for="TTL" class="tool__valide"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="TTC" class="control-label"></label>
                    <input asp-for="TTC" id="InsTTC" class="form-control txtVal" />
                    <span asp-validation-for="TTC" class="tool__valide"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="EX" class="control-label"></label>
                    <input asp-for="EX" id="InsEX" class="form-control txtVal" />
                    <span asp-validation-for="EX" class="tool__valide"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="TRIP" class="control-label"></label>
                    <input asp-for="TRIP" id="InsTRIP" class="form-control txtVal" />
                    <span asp-validation-for="TRIP" class="tool__valide"></span>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-6">
                    <label asp-for="PagoUSD" class="control-label"></label>
                    <input asp-for="PagoUSD" id="InsPagoUSD" class="form-control txtVal" />
                    <span asp-validation-for="PagoUSD" class="tool__valide"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="PagoCOP" class="control-label font--bold"></label>
                    <input asp-for="PagoCOP" id="InsPagoCOP" readonly class="form-control txtVal input__disabled" />
                    <span asp-validation-for="PagoCOP" class="tool__valide"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-6">
                    <button type="button" class="btn btn--default--grey btn-block btnCloseModal" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="form-group col-6">
                    <input type="button" value="Insertar" id="btnInsertarVuelo" class="btn btn--default btn-block" />
                </div>
            </div>
            <div class="alert-danger" id="divMensajeAlert"></div>
        </form>
    </div>
</div>
<script type="text/javascript">
   
    function myFunction() {

        var hoy = new Date();
        var fechaFormulario = new Date($('#Fecha').val());

        hoy.setHours(0, 0, 0, 0);

        if (hoy <= fechaFormulario) {

            document.getElementById('divMensajeAlert').innerHTML = '<div class="alert alert-dark fade show" role="alert"><strong>Error </strong> La fecha no puede ser mayor a la actual.</div>';
            $('#Fecha').val("");
        }
        else {
            document.getElementById('divMensajeAlert').innerHTML = '';
        }
    }
        
</script>