<h1>Cargar Tr&aacute;nsitos</h1>


    <button type="button" class="btn btn--border float-right" onclick="InsertarTransito(@ViewData["operacion"]);">
        <img src="~/images/crear-usuario.png" alt="Agregar Pasajero" class="img-fluid" />   Agregar Tr&aacute;nsito
    </button>

    <div class="row">
        <div class="col-12">
            <div class="upload__file float-left">
                <strong>Subir archivo.</strong><br />
                <form asp-controller="Transitos" asp-action="Cargar" method="post" enctype="multipart/form-data" id="cargaTransitos">
                    <div class="choose-file d-flex mt-3">
                        <input type="hidden" name="idOperacionVuelo" value="@ViewData["operacion"]" />
                        <input type="file" name="archivo" id="file-4" class="inputfile inputfile-2" required onchange='ValidarArchivoTransitos(this)' accept=".csv, text/plain" />
                        <label for="file-4" class="flex-grow-1">
                            <span>Seleccionar un archivo</span>
                        </label>
                        <div class="invalid-tooltip">
                            El archivo no es valido
                        </div>
                        <button type="submit" class="btn btn--border" id="btnCargarTransitos" disabled>
                            <img src="~/images/subir.png" alt="Subir archivo" class="img-fluid" /> Subir archivo
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="validacionListadoTransitos"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn--default--grey btn-block" data-dismiss="modal">Cancelar</button>
        </div>
    </div>

    <script type="text/javascript">
        $("#cargaTransitos").on("submit", function (eventObj) {

            $("#btnCargarTransitos").prop("disabled", true);
            var url = new URL(window.location.href);
            var tipoVuelo = url.searchParams.get("tipoVuelo") != null ? url.searchParams.get("tipoVuelo") : "";
            var tipoVueloHistorico = url.searchParams.get("tipoVueloHistorico") != null ? url.searchParams.get("tipoVueloHistorico") : "";
            var numeroVuelo = url.searchParams.get("numeroVuelo") != null ? url.searchParams.get("numeroVuelo") : "";
            var fechaInicio = url.searchParams.get("fechaInicio") != null ? url.searchParams.get("fechaInicio") : "";
            var fechaFinal = url.searchParams.get("fechaFinal") != null ? url.searchParams.get("fechaFinal") : "";
            var fechaInicioHistorico = url.searchParams.get("fechaInicioHistorico") != null ? url.searchParams.get("fechaInicioHistorico") : "";
            var fechaFinalHistorico = url.searchParams.get("fechaFinalHistorico") != null ? url.searchParams.get("fechaFinalHistorico") : "";
            $(this).append('<input type="hidden" id="tipoVuelo" name="tipoVuelo" value="' + tipoVuelo + '" />');
            $(this).append('<input type="hidden" id="tipoVueloHistorico" name="tipoVueloHistorico" value="' + tipoVueloHistorico + '" />');
            $(this).append('<input type="hidden" id="numeroVuelo" name="numeroVuelo" value="' + numeroVuelo + '" />');
            $(this).append('<input type="hidden" id="fechaInicio" name="fechaInicio" value="' + fechaInicio + '" />');
            $(this).append('<input type="hidden" id="fechaFinal" name="fechaFinal" value="' + fechaFinal + '" />');
            $(this).append('<input type="hidden" id="fechaInicioHistorico" name="fechaInicioHistorico" value="' + fechaInicioHistorico + '" />');
            $(this).append('<input type="hidden" id="fechaFinalHistorico" name="fechaFinalHistorico" value="' + fechaFinalHistorico + '" />');

            return true;
        });
    </script>