@model Opain.Jarvis.Dominio.Entidades.HorarioAerolineaOtd



<div class="row">
    <div class="col-12">
        <div class="upload__file float-left">
            <strong>"Formato tripulación".</strong><br />
    <form asp-controller="HorariosAerolineas" asp-action="CargarVuelos" method="post" enctype="multipart/form-data">

        <hr />
        <div class="form-group col-sm-6 offset-sm-3 mb-4">
            <p>Aerolínea </p>
            <select asp-for="IdAerolinea" asp-items="@((List<SelectListItem>)ViewData["Aerolineas"])" class="form-control" required name="idAreolinea" id="idAreolinea">
            </select>
            <div class="invalid-tooltip">
                Por favor seleccione una opción
            </div>
        </div>

        <div class="choose-file d-flex mt-3">
            <input type="file" name="archivo" id="file-3" class="inputfile inputfile-2" required onchange='LeerTextoTripulantes(this)' accept=".csv, text/plain" />
            <label for="file-3" class="flex-grow-1">
                <span>Seleccionar un archivo</span>
            </label>
            <div class="invalid-tooltip">
                El archivo no es valido
            </div>
            <button type="submit" class="btn btn--border" id="btnTripulacion" disabled>
                <img src="~/images/subir.png" alt="Subir archivo" class="img-fluid" /> Subir archivo
            </button>


        </div>
    </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" id="validacionListadoTri"></div>
</div>


