@model Opain.Jarvis.Dominio.Entidades.HorarioAerolineaOtd

<h1>Horario de la aerolínea</h1>
<div class="row">
        <form asp-action="Editar" class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="Id" name="Id" asp-for="Id" />
            <input type="hidden" id="IdAerolinea" name="IdAerolinea" value="@(((List<SelectListItem>)ViewData["Aerolineas"])[0].Value)" />
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Aerolínea </label>
                    <select asp-for="Aerolinea" asp-items="@((List<SelectListItem>)ViewData["Aerolineas"])" class="form-control" required></select>
                    @*<input asp-for="Aerolinea" class="form-control" readonly="readonly" />*@
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Fecha de actualización</label>
                    <input asp-for="Fecha" type="text" readonly value="@ViewBag.FchUpdate" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Hora de inicio</label>
                    <input asp-for="HoraInicio" name="Horaini1" id="Horaini1" class="form-control" />
                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Hora final</label>
                    <input asp-for="HoraFin" name="HoraFin1" id="HoraFin1" class="form-control" />
                    <span asp-validation-for="HoraFin" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn--default--grey btn-block" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" id="btnEditarHorarioAerolinea" class="btn btn--default btn-block">
                    Guardar
                    </button>

                    @*<input type="submit" value="Guardar" class="btn btn-primary" />*@
                </div>
            </div>
            
            
          
        </form>
</div>




<script type="text/javascript">
    $(function () {

        document.getElementById('divMensajeHorarioAerolinea').innerHTML = '';
        $("#btnEditarHorarioAerolinea").on("click", function () {

            $.ajax({
                type: 'POST',
                url: "/Administracion/HorariosAerolineas/Editar",
                data:
                {
                    horarioAerolineaOtd: {
                        Id: $("#Id").val(),
                        IdAerolinea: $("#IdAerolinea").val(),
                        Fecha: $("#Fecha").val(),
                        HoraInicio: $("#Horaini1").val(),
                        HoraFin: $("#HoraFin1").val()
                    }
                },
                success: function (data) {
                    $("#divMensajeHorarioAerolinea").empty();
                    $("#divHorarioAerolinea").empty();
                    if (data) {
                        $("#BtnAbrirModalEditando").click();
                        //   document.getElementById('divMensajeHorarioAerolinea').innerHTML = '<div class="alert alert-warning fade show" role="alert"><p> Horario Actualizado exitosamente </p></div>';
                         $("#divHorarioAerolinea").load("/Administracion/HorariosAerolineas/Principal");
                    }
                    else {
                        document.getElementById('divMensajeHorarioAerolinea').innerHTML = '<div class="alert alert-dark fade show" role="alert"><p class="mb-0"> No se pudo actualizar horario de aerolínea. </p></div>';
                        $("#divHorarioAerolinea").load("/Administracion/HorariosAerolineas/Principal");
                    }
                },
                error: function (data) {
                    $("#mensajeGuardado").empty();
                    document.getElementById('divMensajeHorarioAerolinea').innerHTML = '<div class="alert alert-dark fade show" role="alert"><p class="mb-0"> No se pudo eliminar horario de aerolínea. </p></div>';
                    $("#divHorarioAerolinea").load("/Administracion/HorariosAerolineas/Principal");
                }
            })
        });

        $("#bntregresarEdicion").on("click", function () {
            $("#divHorarioAerolinea").load("/Administracion/HorariosAerolineas/Principal");
        });

    });
</script>

