<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" requestTimeout="00:00:03">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44309" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\8.0.202\DotnetTools\dotnet-watch\8.0.202-servicing.24116.87\tools\net8.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44375/Opain.Jarvis.Presentacion.Web/,ws://localhost:56167/Opain.Jarvis.Presentacion.Web/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuR8ij0G0/Dkda4V7zhFVGx9A29IPO5+jc8rebcPNbq1vamDtC9URIHl2c7gvrZXpfIMD4PcUes52k/a4aX+cOYUBDPIWIHi8zfoXgQHhiMlbHiWbpqnAKVwKL/Ve67SBCg0BHh4Zz5VuemiWQ5gnv7KX6GxFE5Sczc2JYjoLK1mT6Y2whJZiFyCE9ftO1mIk00066AH4VEHzEWd/ikMt/nIJ671bzTDRKNmVJOY8DJrGpvdf1vMsxrkvSSXpAr1A+cSlCBUHb7eGUvuuzMENtEzTTae+ZxscbkHzrYWAX3LpoYVeP9v/aeoN1kdSMrVTH7NDSjw2x+8UiN2RQES60QIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="e5c662da-bb23-4091-8a19-0221442125c7" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <add name="Strict-Transport-Security" value="max-age=31536000" />
          <!--<add name="Content-Security-Policy" value="default-src 'self';" />-->
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Referrer-Policy" value="no-referrer" />
          <add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />
          <add name="Permissions-Policy" value="geolocation 'none';midi 'none';notifications 'none';push 'none';sync-xhr 'none';microphone 'none';camera 'none';magnetometer 'none';gyroscope 'none';speaker 'self';vibrate 'none';fullscreen 'self';payment 'none';" />
          <add name="Expect-CT" value="enforce, max-age=300" />
          <remove name="X-Powered-By" />
          <remove name="Server" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="3000" maxUrl="1000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>