<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" requestTimeout="00:00:03">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44309" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\8.0.202\DotnetTools\dotnet-watch\8.0.202-servicing.24116.87\tools\net8.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44329/Opain.Jarvis.Presentacion.Web/,ws://localhost:56670/Opain.Jarvis.Presentacion.Web/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAq23YN1wlPpB5ttw7tGmriuVYUvVeyq7iZhC9DtzvFimS84s10A72nbDCiqwBBhX5HKhmV0maeizM0MZZdoiDvkzbMyVqnRyh7ovVMTYkzTdAc/q+B1v+d/r0CHZC3jYE8xwdM1TDH8nRz3F7+phLTFaAi92bI3wXAEndwy/9Bqe6HmrJewk17E1e889rLwVhxn5O4LvwQnKyFrGPLgnyDceIRMujOnlbWdWivUrCx8Fb+YlblsiDrPdhT3HQcZisi/6rb6qI5p/tP/tz11U5ZqWl7R1ae6BfLo7mwu3VQXg7Vk+WJBaN5Yc+CyWyb4yaZVE1cBmLNtQ3wvuaGpGxhQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="fa5c3502-44d3-4822-a9d3-54978bb250ca" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <add name="Strict-Transport-Security" value="max-age=31536000" />
          <!--<add name="Content-Security-Policy" value="default-src 'self';" />-->
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Referrer-Policy" value="no-referrer" />
          <add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />
          <add name="Permissions-Policy" value="geolocation 'none';midi 'none';notifications 'none';push 'none';sync-xhr 'none';microphone 'none';camera 'none';magnetometer 'none';gyroscope 'none';speaker 'self';vibrate 'none';fullscreen 'self';payment 'none';" />
          <add name="Expect-CT" value="enforce, max-age=300" />
          <remove name="X-Powered-By" />
          <remove name="Server" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="3000" maxUrl="1000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>