

<h1>
    INSERTAR PASAJERO
</h1>

<div class="row">
    <div class="col-12">
        <div class="row">
            <input type="hidden" name="operacionPasajero" id="operacionPasajero" value="@ViewData["IdOperacion"]" />
            <div class="form-group col-6">
                <label for="fechaPasajero" class="control-label">Fecha</label>
                <input id="fechaPasajero" min="1900-12-31" max="2100-12-31" name="fechaPasajero" class="form-control" type="date"  onblur="myFunction()"/>
            </div>
            <div class="form-group col-6">
                <label for="numeroVuelo" class="control-label">Número de Vuelo</label>
                <input id="numeroVuelo" name="numeroVuelo" class="form-control" type="text" onkeypress="return check(event)"/>
                <div class="alert-danger" id="divNumeroVueloAlert"></div>
            </div>
            <div class="form-group col-6">
                <label for="matriculaVuelo" class="control-label">Matrícula del Vuelo</label>
                <input id="matriculaVuelo" name="matriculaVuelo" class="form-control" type="text" onkeypress="return check(event)" />
                <div class="alert-danger" id="divMatriculaAlert"></div>
            </div>
            <div class="form-group col-6">
                <label for="nombrePasajero" class="control-label">Nombre del Pasajero</label>
                <input id="nombrePasajero" name="nombrePasajero" class="form-control" type="text" />
            </div>
            <div class="form-group col-6">
                <label for="categoria" class="control-label">Categoría</label>
                <select id="categoria" name="categoria" class="form-control">
                    <option value="PAX" selected>Pasajero</option>
                    <option value="INF">Infante</option>
                    <option value="TTL">Tránsito en Línea</option>
                    <option value="TTC">Tránsito en Conexión</option>
                    <option value="EX">Exento</option>
                    <option value="TRIP">Tripulante</option>
                    <option value="OT">Otros</option>
                </select>
            </div>
            @*<div id="dvRealViaje" class="form-group col-6">
                <label for="nombrePasajero" class="control-label">Realiza Viaje?</label>
                <select id="ddlRealViaje" name="ddlRealViaje" class="form-control">
                    <option value="1" selected>Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div id="dvMotivoEx" class="form-group col-6">
                <label for="txtMotivoEx" class="control-label">Motivo de no viaje</label>
                <input id="txtMotivoEx" name="txtMotivoEx" class="form-control" type="text" />
            </div>*@
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn--default--grey btn-block" data-dismiss="modal">Cancelar</button>
            </div>
            <div class="form-group col-6">
                <button type="button" onclick="InsertarPasajeroPost(@ViewData["IdOperacion"]);" class="btn btn--default btn-block">Insertar</button>
            </div>
        </div>
         <div class="alert-danger" id="divMensajePasAlert"></div>
    </div>
</div>
<script type="text/javascript">
    var myDate = $('#fechaPasajero');
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10)
        dd = '0' + dd;

    if (mm < 10)
        mm = '0' + mm;

    today = yyyy + '-' + mm + '-' + dd;
    myDate.attr("max", today);

    function myFunction() {
       var date = myDate.val();
        if (Date.parse(date)) {
            if (date > today) {
                document.getElementById('divMensajePasAlert').innerHTML = '<div class="alert alert-dark fade show" role="alert"><strong>Error </strong> La fecha no puede ser mayor a la actual.</div>';
                myDate.val("");
            }
            else {
                document.getElementById('divMensajePasAlert').innerHTML = '';
            }
        }
    }
    $(function() {        

        $("#dvRealViaje").hide();
        $("#dvMotivoEx").hide();

        $("#categoria").on("change", function () {            

            if ($(this).val() == "EX") {
                $("#dvRealViaje").show();
                $("#ddlRealViaje").change();
            } else {
                $("#dvRealViaje").hide();
                $("#dvMotivoEx").hide();
            }
        });

        $("#ddlRealViaje").on("change", function () {
            if ($(this).val() == "0") {
                $("#dvMotivoEx").show();
            } else {
                $("#dvMotivoEx").hide();
            }
        });

    });
</script>
