<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Jarvis</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @*<link rel="manifest" href="/site.webmanifest" />*@
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileImage" content="/safari-pinned-tab.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body class="bg-black">

    <div class="container-fluid">
        <div class="row">
            <div class="d-flex hv100 col-sm-12 flex-wrap">
                <!--header-->
                <header class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/images/logo-jarvis.png" class="img-fluid" width="88" alt="Logo Jarvis" />
                        </div>
                        <div class="col-sm-6 text-right">
                            <img src="~/images/logo-dorado.png" class="img-fluid" width="151" alt="Logo Opain" />
                        </div>
                    </div>
                </header>

                <!--content-->

                        <div class="container-fluid">
                            <div class="col-sm-12">
                                @RenderBody()
                            </div>
                        </div>

                <!--footer-->
                        <footer class="col-12">
                            <div class="row-fluid">
                                <div class="span6 text-left"> <span style="color:white">Versión  2.0.2</span></div>
                                <div class="span6 text-right"><img src="~/images/logo-opain-blanco.png" class="img-fluid" alt="Logo Opain" /></div>
                            </div>
                             
                        </footer>

            </div>
        </div>
    </div>

    <!--library-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var getBrowserInfo = function() {
            var ua= navigator.userAgent, tem, 
            M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if(/trident/i.test(M[1])){
                tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
                return 'IE/'+(tem[1] || '');
            }
            if(M[1]=== 'Chrome'){
                tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
                if(tem!= null) return tem.slice(1).join('/').replace('OPR', 'Opera');
            }
            M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
            if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
            return M.join('/');
        };

        var datos = getBrowserInfo();
        var matriz = datos.split("/");

        var navegador = matriz[0];
        var version = parseInt(matriz[1]);

        if (navegador.toLowerCase() == "chrome" && version < 57) {
            $('#explorador').modal('show');
        }

        if (navegador.toLowerCase() == "firefox" && version < 52) {
            $('#explorador').modal('show');
        }

         if (navegador.toLowerCase() == "ie" && version < 16) {
            $('#explorador').modal('show');
        }

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
