@page
@model AccessDeniedModel

    <header>
        <h1 class="text-danger">Acceso no permitido</h1>
        <p class="text-danger">Usted no tiene el rol autorizado para el recurso que está intentando acceder</p>
        <a href="/" style="color:white">Ir al inicio</a>
    </header>
