
@{
    ViewData["Title"] = "Informes";
}

<h1>Informes</h1>

<div class="menu__informes">
    <ul class="nav nav-tabs d-flex flex-wrap">
        <li class="nav-item">
            <a href="./InformesAdmin" class="nav-link active">Infrasa</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                Cobro
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Anexos
            </a>
            <div class="dropdown-menu">
                <a href="" class="dropdown-item">Tasas</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">Parqueo</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">GPU</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item">Fuentes</div>

                <ul>
                    <li>
                        <a href="" class="dropdown-item">Aerocivil</a>
                    </li>
                    <li>
                        <a href="" class="dropdown-item">Parqueo</a>
                    </li>
                    <li>
                        <a href="" class="dropdown-item">Fuentes</a>
                    </li>
                    <li>
                        <a href="" class="dropdown-item">GPU</a>
                    </li>
                </ul>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Facturas
            </a>
            <div class="dropdown-menu">
                <a href="" class="dropdown-item">Fiducia</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">Número de factura</a>
                <div class="dropdown-divider"></div>
                <a href="@ViewData["UrlPsePagos"]" class="dropdown-item">Pagar por <img src="~/images/logo-pse.png" alt="Pago por PSE" class="img-fluid" /></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Estadísticas
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    Actividad de usuarios
                </div>
                <ul>
                    <li><a href="./estadisticasingresosAdmin" class="dropdown-item">Ingresos</a></li>
                    <li><a href="./estadisticasCargueArchivosAdmin" class="dropdown-item">Cargue de archivos</a></li>
                    <li><a href="./estadisticasHorasIngresoAdmin" class="dropdown-item">Horas de ingresos</a></li>
                </ul>

                <div class="dropdown-divider"></div>
                <div class="dropdown-item">
                    Actividad de aerolíneas
                </div>
                <ul>
                    <li><a href="./estadisticasCantidadVuelosAdmin" class="dropdown-item">Cantidad de vuelos</a></li>
                    <li><a href="./estadisticasCantidadPasajerosAdmin" class="dropdown-item">Cantidad de pasajeros</a></li>
                    <li><a href="./estadisticasCantidadTransitosAdmin" class="dropdown-item">Cantidad de tránsitos</a></li>
                    <li><a href="./estadisticasDestinosAdmin" class="dropdown-item">Destinos</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="sin__contenido mb-5">
    <div class="bg--white">
    </div>

</div>